<div class="m-b-07">
    <h3 *ngIf="!mq.matches">Upload Video:</h3>
    <p *ngIf="mq.matches">Upload Video:</p>
</div>
<form [formGroup]="uploadVideoForm">
    <div class="row">
        <div class="col-12 m-b-1">
            <input type="text" formControlName="title" maxlength="30" class="form-control" placeholder="Title" aria-label="File name">
        </div>
        <div class="col-12 m-b-1" *ngIf="showDeadline">
            <input class="form-control" formControlName="deadline" (click)="datepicker.open()" [matDatepicker]="datepicker" placeholder="Choose Deadline">
            <div class="datepicker-icon">
                <mat-icon (click)="datepicker.open()" class="pick-date-icon">today</mat-icon>
                <mat-datepicker touchUi #datepicker></mat-datepicker>
            </div>
        </div>
        <div class="col-12 m-b-1">
            <input type="file" formControlName="file" class="file" id="video-file">
        </div>
        <div class="col-12">
            <button mat-flat-button [disabled]="uploadVideoForm.invalid" class="green-button" type="submit" (click)="processVideo()">Upload</button>
        </div>
    </div>
</form>
