<div class="m-b-07">
    <h3 *ngIf="!mq.matches">Upload Video:</h3>
    <p *ngIf="mq.matches">Upload Video:</p>
</div>
<form [formGroup]="uploadForm">
    <div class="row">
        <div class="col-12 m-b-1">
            <input type="text" formControlName="name" maxlength="30" class="form-control" placeholder="Title" aria-label="File name">
        </div>
        <div class="col-12 m-b-1" *ngIf="showTargetDate">
            <input class="form-control" formControlName="target_date" (click)="datepicker.open()" [matDatepicker]="datepicker" placeholder="Set Target Date (optional)">
            <div class="datepicker-icon">
                <mat-icon (click)="datepicker.open()" class="pick-date-icon">today</mat-icon>
                <mat-datepicker touchUi #datepicker></mat-datepicker>
            </div>
        </div>
        <div class="col-12 m-b-1">
            <input type="file" mat-flat-button formControlName="file" class="file" id="upload-video">
        </div>
        <div class="col-12 m-b-1">
            <mat-slide-toggle formControlName="can_download">Can Download Content</mat-slide-toggle>
        </div>
        <div class="col-12 m-b-07">
            <button mat-flat-button *ngIf="!showIndicator && !showProcessingIndicator" [disabled]="uploadForm.invalid" class="green-button m-r-05" type="submit" (click)="upload()">Upload</button>
            <div *ngIf="showIndicator">
                <h3 *ngIf="!mq.matches" class="m-b-02">Uploading...</h3>
                <p *ngIf="mq.matches" class="m-b-02">Uploading...</p>
                <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
                <div class="d-flex justify-content-end m-t-02">
                    {{ getFileSize_(loadedFileSize) }} / {{ getFileSize_(totalFileSize) }}
                </div>
            </div>
            <div *ngIf="showProcessingIndicator">
                <h3 *ngIf="!mq.matches" class="m-b-02 color-g">Please wait.<br/>Processing video.<br/>This might take some time.</h3>
                <p *ngIf="mq.matches" class="m-b-02 color-g">Please wait.<br/>Processing video.<br/>This might take some time.</p>
                <mat-progress-bar mode="buffer" class="color-y"></mat-progress-bar>
            </div>
        </div>
    </div>
</form>
