<mat-card class="component-body">
    <section class="padding-bottom-07 text-color">
        <h3>Classes:</h3>
        <mat-accordion *ngIf="!isClassesListEmpty()">
            <mat-expansion-panel class="text-color" *ngFor="let class of this.classList" [expanded]="this.classStep === 0" (opened)="setClassStep(0)">
                <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'55px'">
                    <mat-panel-title>
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <h3 class="text-color" *ngIf="!this.mobileQuery.matches">Class 1</h3>
                            <p class="text-color" *ngIf="this.mobileQuery.matches">Class 1</p>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <hr class="invite-top-separator" />
                <div class="row invite-body" *ngIf="this.mobileQuery.matches ">
                    <div class="col-12">
                        <div class="row invite-details">
                            <div class="col">
                                <p>Role:</p>
                            </div>
                            <div class="col">
                                <p>Faculty</p>
                            </div>
                        </div>
                        <div class="row invite-details">
                            <div class="col">
                                <p>Active Faculty:</p>
                            </div>
                            <div class="col">
                                <p>False</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row invite-body" *ngIf="!this.mobileQuery.matches">
                    <div class="col-12 ">
                        <div class="row invite-details ">
                            <div class="col">
                                <h3>Invited By:</h3>
                            </div>
                            <div class="col">
                                <h3>asdfgm</h3>
                            </div>
                        </div>
                        <div class="row invite-details">
                            <div class="col">
                                <h3>Requested on:</h3>
                            </div>
                            <div class="col">
                                <h3>asdfgh</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="invite-bottom-separator" />
                <div class="col">
                    <div *ngIf="!this.mobileQuery.matches" class="action-row">
                        <button mat-button class="red-button margin-right-1">Cancel Invitation</button>
                        <button mat-button class="green-button">Send Message</button>
                    </div>
                    <div *ngIf="this.mobileQuery.matches" class="d-flex justify-content-end">
                        <mat-icon class="red-color margin-right-1">delete_forever</mat-icon>
                        <mat-icon class="yellow-color">email</mat-icon>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
</mat-card>
