.form-control {
    background-color: #3b3b3b;
    color: #bdbdbd;
    border-color: #6c757d;
}

.form-control:focus {
    box-shadow: none;
    border-color: none;
    outline: none;
}

.green-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.green-button:disabled {
    color: #fff;
    background-color: #008000;
    opacity: 0.3;
}

.spinner-mb {
    display: flex;
    margin: 1rem 0 1rem 1rem;
}

.spinner {
    margin-right: 1rem;
}

.line-height {
    line-height: 30px;
}