<div *ngIf="loginHint" class="error-message">
    This email is already registered in our website. You can use another email or <strong id="login-text"><a routerLink="/login">login</a></strong> to your existing account.
    <span class="material-icons" aria-hidden="false" aria-label="Close message" (click)="closeMessage()">
        cancel
    </span>
</div>

<section class="signup-form">
    <form (submit)="signUp()" fxLayout="column" fxLayoutAlign="center center" id="set-screen-height-background">
        <div id="sign-up-banner">
            <h1 id="sign-up-text">Sign Up</h1>
        </div>
        <ng-container [formGroup]="signupForm">
            <section id="form-body" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field>
                    <mat-label>Your email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Your email">

                    <mat-error *ngIf="signupForm.controls['email'].errors?.required">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="signupForm.controls['email'].errors &&
                                    !signupForm.controls['email'].errors?.required">
                        Enter a valid email address.
                    </mat-error>
                    <mat-hint class="error-text-red">{{ this.serverResponseErrors.emailError | titlecase }}</mat-hint>

                </mat-form-field>
                <mat-form-field>
                    <mat-label>Your username</mat-label>
                    <input type="text" matInput formControlName="username" placeholder="Username should be at least 4 characters long.">

                    <mat-error *ngIf="signupForm.controls['username'].errors?.required">
                        Username is required.
                    </mat-error>
                    <mat-error *ngIf="signupForm.controls['username'].errors &&
                                    !signupForm.controls['username'].errors?.required">
                        Username should be at least 4 characters long.
                    </mat-error>
                    <mat-hint class="error-text-red">{{ this.serverResponseErrors.usernameError | titlecase }}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Your password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Password should be at least 8 characters long.">

                    <mat-error *ngIf="signupForm.controls.password.errors &&
                                     !signupForm.controls.password.errors?.required">
                        Password should be at least 8 characters long.
                    </mat-error>
                    <mat-error *ngIf="signupForm.controls.password.errors?.required">
                        Password is required.
                    </mat-error>
                    <mat-hint class="error-text-red">
                        {{ this.serverResponseErrors.passwordError | titlecase }}
                    </mat-hint>
                    <mat-hint *ngIf="signupForm.errors?.usernamePasswordSame" class="error-text-red" align="right">
                        Username and password can not be similar.
                    </mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" placeholder="Passwords should match.">

                    <mat-error *ngIf="signupForm.controls.confirmPassword.errors?.required">
                        This field is required.
                    </mat-error>
                    <mat-hint *ngIf="signupForm.errors?.mismatch &&
                                !signupForm.controls.confirmPassword.errors?.required" class="error-text-red">
                        Passwords does not match.
                    </mat-hint>
                </mat-form-field>

                <div class="form-field">
                    <div class="inner-form-field">
                        <mat-label>User type:</mat-label>
                        <div>
                            <input type="radio" formControlName="userIsStudent" value="true" id="student">
                            <label for="student" class="padding-left-10">Student</label>
                        </div>
                        <div>
                            <input type="radio" formControlName="userIsStudent" value="false" id="teacher">
                            <label for="teacher" class="padding-left-10">Teacher</label>
                        </div>
                    </div>
                    <mat-hint *ngIf="signupForm.controls['userIsStudent'].errors?.required &&
                                    !signupForm.controls['userIsStudent'].pristine" style="color: red">
                        Select user type.
                    </mat-hint>
                </div>

                <button [disabled]="signupForm.invalid" mat-raised-button color="primary">Sign up</button>
                <p class="mat-caption" id="login">
                    Already have an account? <strong><a routerLink="/auth/login">Click here to login</a></strong>
                </p>
            </section>
        </ng-container>
    </form>
</section>