.row,
.col,
.col-12,
.col-sm-8,
.col-md-6,
.col-lg-4,
h2,
h3,
hr,
p {
    padding: 0px;
    margin: 0px;
}

.component-body {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.mat-card {
    padding: 0px 16px 0px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #bdbdbd;
}


/* For displaying class list */

.mat-expansion-panel {
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 1px 1px 1px #1f1f1f;
    margin-bottom: 0.7rem;
}

.mat-expansion-panel-header {
    border-radius: 5px;
    padding: 0 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(255, 255, 255, 0.03);
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.mat-expansion-panel-header:hover {
    background-color: rgba(255, 255, 255, 0.01) !important;
}

:host ::ng-deep .mat-expansion-indicator::after {
    color: #f2aa4cff;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.03) !important;
}

.header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.header-mb {
    padding-top: 0.5rem;
}

.header-text {
    line-height: 36px;
    transform: translateY(40%);
}

.green-button:disabled {
    color: #fff;
    background-color: #0a5652;
    opacity: 0.7;
}

.create-button-mb {
    color: #fff;
    background-color: #0a5652;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.create-button-mb:disabled {
    color: #fff;
    background-color: #0a5652;
    opacity: 0.3;
}

.line-height {
    line-height: 30px;
}

.action-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

.incharge-icon {
    cursor: pointer;
}

.cta-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 28px;
}

.cta-icon-mb {
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 20px;
}

.green-icon {
    color: #61e061;
}

.blue-icon {
    color: #7375ee;
}


/* Margins and padding */

.p-b-07 {
    padding-bottom: 0.7rem;
}

.m-t-05 {
    margin-top: 0.5rem;
}

.m-b-05 {
    margin-bottom: 0.5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-r-05 {
    margin-right: 0.5rem;
}

.m-r-1 {
    margin-right: 1rem;
}

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}