h2,
h3,
hr {
    margin: 0;
    padding: 0;
}

.header-bg {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0.5rem;
    border-radius: 3px;
    z-index: 2;
    box-shadow: 1px 1px 1px #1f1f1f;
}

:host .mat-card {
    overflow: hidden;
    object-fit: contain;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.m-l-05 {
    margin-left: 0.5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}
