<div class="header-bg m-b-1 d-flex justify-content-between align-center">
    <h2 *ngIf="!mq.matches">{{ content.name | titlecase }}</h2>
    <h3 *ngIf="mq.matches">{{ content.name | titlecase }}</h3>
    <mat-icon class="cancel-icon m-l-05 cursor-pointer" (click)="back()">close</mat-icon>
</div>
<ngx-extended-pdf-viewer id="pdf-viewer" [src]="content.data.file" [textLayer]="true" [showDownloadButton]="content.data.can_download" [showPrintButton]="content.data.can_download" [showBookmarkButton]="false" [filenameForDownload]="filename" useBrowserLocale="false"
    height="80vh"></ngx-extended-pdf-viewer>
