<div class="full-body-container">
    <!-- For showing sidenav -->
    <!-- The sidenav toggle toolbar -->
    <div>
        <mat-toolbar fxLayout="row" class="device-is-mobile">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h6 id="workspace-title">{{ userWorkspace }}</h6>
        </mat-toolbar>
    </div>
    <mat-drawer-container class="full-body-height" autosize>
        <mat-drawer #drawer class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'"
            fixedTopGap="46"
            [ngClass]="{'navbar-content-width-75': mobileQuery.matches,
                       'navbar-content-width-25': !mobileQuery.matches}">
            <section class="sidenav-content">
                <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto adipisci non inventore laboriosam, sequi officiis placeat eligendi rem, ex magnam recusandae odio iusto hic maiores alias illo velit est cupiditate?</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
            </section>
        </mat-drawer>

        <!-- For showing the workspace -->
        <section class="workspace-child-body">
            <router-outlet></router-outlet>
        </section>

    </mat-drawer-container>
</div>

