<mat-card class="component-body">
    <section class="padding-bottom-07 text-color">
        <div class="d-flex justify-content-between" [ngClass]="{'header-mb': mq.matches, 'header': !mq.matches}">
            <div>
                <h3 [ngClass]="{'header-text': !mq.matches}">Classes:</h3>
            </div>
            <div>
                <form class="form-inline" *ngIf="!mq.matches" [formGroup]="createClassForm">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="name" class="sr-only">Class Name</label>
                        <input type="text" formControlName="name" class="form-control" id="name" maxlength="40" placeholder="Class Name" required/>
                    </div>
                    <button type="submit" *ngIf="!createClassIndicator" [disabled]="createClassForm.invalid" mat-flat-button class="green-button mb-2" (click)="createClass()">Create Class</button>
                    <mat-progress-spinner *ngIf="createClassIndicator" [diameter]="30" mode="indeterminate" class="create-class-spinner"></mat-progress-spinner>
                </form>
                <mat-icon *ngIf="mq.matches" [ngClass]="{'add-class': mq.matches}">
                    <span *ngIf="!showCreateClassFormMb" (click)="showCreateClassFormMobile()">add_box</span>
                    <span *ngIf="showCreateClassFormMb" (click)="hideCreateClassFormMobile()">clear</span>
                </mat-icon>
            </div>
        </div>
        <hr class="top-separator" />
        <app-ui-loading *ngIf="showLoadingIndicator" [actionText]="loadingText"></app-ui-loading>
        <app-ui-reload *ngIf="showReloadError" [errorText]="showReloadText" (retryEvent)="getClassList()"></app-ui-reload>
        <div class="margin-bottom-1" *ngIf="errorText">
            <app-ui-error-text [errorText]="errorText" (closeErrorTextEvent)="closeErrorText()"></app-ui-error-text>
        </div>
        <div class="margin-bottom-1" *ngIf="successText">
            <app-ui-success-text [successText]="successText" (closeSuccessTextEvent)="closeSuccessText()"></app-ui-success-text>
        </div>
        <section *ngIf="mq.matches && showCreateClassFormMb" class="margin-bottom-1">
            <div class="row">
                <div class="col-12">
                    <form class="input-group" [formGroup]="createClassForm">
                        <input type="text" formControlName="name" maxlength="40" class="form-control search-color" placeholder="Enter Class Name" aria-label="Create class">
                        <div class="input-group-append">
                            <button mat-flat-button [disabled]="createClassForm.invalid || createClassIndicator" (click)="this.createClass()" class="btn create-button-mb" type="submit">Create</button>
                        </div>
                    </form>
                </div>
                <div class="create-class-spinner-mb" *ngIf="createClassIndicator">
                    <mat-progress-spinner [diameter]="30" mode="indeterminate" class="create-class-spinner"></mat-progress-spinner>
                    <p class="line-height">Creating class...</p>
                </div>
            </div>
        </section>
        <div *ngIf="!showLoadingIndicator && !showReloadError && isClassesListEmpty()" class="margin-bottom-05">
            <h3 *ngIf="!mq.matches">No classes created yet.</h3>
            <p *ngIf="mq.matches">No classes created yet.</p>
        </div>
        <mat-accordion *ngIf="!showLoadingIndicator && !showReloadError && !isClassesListEmpty()">
            <mat-expansion-panel class="text-color" *ngFor="let class of this.classList" [expanded]="this.classStep === class.id" (opened)="setClassStep(class.id)">
                <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'55px'">
                    <mat-panel-title>
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <h3 class="text-color" *ngIf="!this.mq.matches">{{ class.name | titlecase}}</h3>
                            <p class="text-color" *ngIf="this.mq.matches">{{ class.name | titlecase}}</p>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <hr class="invite-top-separator" />
                <div class="row invite-body">
                    <div class="col-12 margin-bottom-05">
                        <h3 *ngIf="!mq.matches">Class Incharges:</h3>
                        <p *ngIf="mq.matches">Class Incharges:</p>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 *ngIf="!mq.matches">1. Deepak Bharman</h3>
                                <p *ngIf="mq.matches">1. Deepak Bharman</p>
                            </div>
                            <div>
                                <mat-icon class="incharge-icon margin-right-05 blue-icon" [ngClass]="{'cta-icon': !mq.matches, 'cta-icon-mb': mq.matches}" matTooltip="Start Chatting" [matTooltipPosition]="'above'">message</mat-icon>
                                <mat-icon class="incharge-icon green-icon" [ngClass]="{'cta-icon': !mq.matches, 'cta-icon-mb': mq.matches}" matTooltip="View Profile" [matTooltipPosition]="'above'">visibility</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="invite-bottom-separator" />
                <div class="col">
                    <div class="action-row">
                        <button mat-raised-button class="red-button margin-right-1" *ngIf="userIsAdmin()" (click)="deleteClassClicked(class)">Delete</button>
                        <button mat-flat-button class="green-button" (click)="openClass(class.class_slug, class.has_class_perm)">Open</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
</mat-card>