.row,
.col,
.col-12,
.col-sm-8,
.col-md-6,
.col-lg-4,
h1,
h3,
hr,
p {
    padding: 0px;
    margin: 0px;
}

.parent-container {
    background-color: rgba(255, 255, 255, 0.06);
    color: #bdbdbd;
    padding: 1rem;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* For displaying class list */

.mat-expansion-panel {
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 1px 1px 1px #1f1f1f;
    margin-bottom: 0.7rem;
}

.mat-expansion-panel-header {
    border-radius: 5px;
    padding: 0 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(255, 255, 255, 0.03);
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.mat-expansion-panel-header:hover {
    background-color: rgba(255, 255, 255, 0.01) !important;
}

:host ::ng-deep .mat-expansion-indicator::after {
    color: #f2aa4cff;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.03) !important;
}

.mat-action-row {
    padding: 16px 16px 16px 24px;
    background-color: rgba(255, 255, 255, 0.03) !important;
}

.header-mb {
    padding-top: 0.5rem;
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #f2aa4cff !important;
}

.action-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

.cta-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 28px;
}

.cta-icon-mb {
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 20px;
}

.green-icon {
    color: #61e061;
}

.blue-icon {
    color: #7375ee;
}

.green-button:disabled {
    color: #fff;
    background-color: #0a5652;
    opacity: 0.7;
}


/* Margins and padding */

.p-b-07 {
    padding-bottom: 0.7rem;
}

.m-t-05 {
    margin-top: 0.5rem;
}

.m-b-05 {
    margin-bottom: 0.5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-r-05 {
    margin-right: 0.5rem;
}

.m-r-1 {
    margin-right: 1rem;
}

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}