Django>=3.0.8,<=3.2.0
djangorestframework>=3.11.0,<4.0.0
psycopg2>=2.8.5,<2.9.0
django-cors-headers>=3.4.0,<3.10.0
channels==2.4.0
channels-redis==2.4.2
daphne==2.5.0
celery==4.4.6

phonenumbers>=8.12.6,<8.13.0
django-phonenumber-field>=4.0.0,<4.1.0
django-countries>=6.1.2,<=6.2.0
Pillow>=7.2.0,<=7.3.0

flake8>=3.8.3,<3.9.0
