h2,
h3,
h4,
.col,
.col-3,
.col-sm-9,
.col-12,
.col-sm-8,
.col-md-6,
.col-lg-4,
.row,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

.mat-card {
    background-color: #3B3B3B;
    color: #bdbdbd;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.text-color {
    color: #bdbdbd;
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #f2aa4cff !important;
}

.top-separator {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.header-text {
    transform: translateY(0.7rem);
}

.header-button {
    margin-bottom: 0.5rem;
}


/* Expansion panel */

.mat-expansion-panel {
    background-color: #303030;
    box-shadow: 0 1px 1px #4b4b4b;
    margin-bottom: 0.7rem;
}

.mat-expansion-panel-header {
    border-radius: 10px;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: #292929;
    color: #c5c5c5;
}

::ng-deep .mat-expansion-indicator::after {
    color: #f2aa4cff;
}

.content-container .content {
    margin-bottom: 1rem;
}

.background-material {
    z-index: 5;
    box-shadow: 2px 2px 1px #292929;
    border-radius: 5px;
    cursor: pointer;
    background-color: #414141;
    display: flex;
    align-items: center;
}

.background-material:hover {
    background-color: #3b3b3b;
}

.upload-toggle-button {
    justify-content: center;
    padding: 0.2rem;
}

.content-icon-container {
    height: 3rem;
    width: 3rem;
    margin: 0.3rem;
    display: flex;
    justify-content: center;
    background-color: #414141;
}

.content-icon {
    align-self: center;
    transform: scale(1.4);
    color: #808080;
}

.duration-text {
    font-size: 10px;
}

.edit-controls {
    display: flex;
    align-items: center;
    right: 2rem;
    transform: translateY(-170%);
    position: absolute;
}


/* Upload Files styling */

.upload-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.upload-container {
    border-radius: 5px;
    margin-bottom: 1rem;
}

.upload-sidenav {
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
    margin-right: 0.5rem;
    z-index: 5;
    box-shadow: 1px 1px 1px #292929;
    border-radius: 5px;
}

.nav-item {
    padding: 0.5rem;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #436b6d;
    color: #fff;
}

.nav-item-active {
    background-color: #508183;
    color: #fff;
    cursor: auto;
}

.upload-sidenav li:first-child:hover,
.upload-sidenav li:first-child.nav-item-active {
    border-radius: 5px 5px 0 0;
}

.upload-sidenav li:last-child:hover,
.upload-sidenav li:last-child.nav-item-active {
    border-radius: 0 0 5px 5px;
}

.upload-form-container {
    background-color: #3b3b3b;
    margin-right: 0;
    z-index: 5;
    box-shadow: 1px 1px 1px #292929;
    border-radius: 5px;
    height: 100%;
    padding: 0.5rem;
    overflow: hidden;
}

.upload-nav-mb {
    display: flex;
    justify-content: space-between;
    background-color: #3b3b3b;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.active-icon-color {
    color: #f2aa4cff;
}

.storage {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.1rem;
}

:host ::ng-deep .custom-progress .p-progressbar {
    background-color: #6c757d;
}

:host ::ng-deep .custom-progress .p-progressbar-label {
    color: rgb(211, 211, 211);
}


/* Margins and padding */

.m-b-01 {
    margin-bottom: 0.1rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-b-07 {
    margin-bottom: 0.7rem;
}

.m-r-07 {
    margin-right: 0.7rem;
}

.m-r-05 {
    margin-right: 0.5rem;
}