<mat-card>
    <section *ngIf="showView === 'CREATE'">
        <div class="d-flex justify-content-between">
            <div>
                <h2 class="header-text">Create Course:</h2>
            </div>
            <div>
                <button mat-flat-button class="green-button header-button" (click)="guidelineClicked()">
              <div *ngIf="!showGuidelines">
                <span *ngIf="!mq.matches">Show Course Creation Guidelines</span>
                <span *ngIf="mq.matches">Read Guide</span>
              </div>
              <div *ngIf="showGuidelines">
                <span *ngIf="!mq.matches">Hide Course Creation Guidelines</span>
                <span *ngIf="mq.matches">Hide Guide</span>
              </div>
            </button>
            </div>
        </div>
        <hr class="top-separator" />
        <div class="m-b-1">
            <app-course-guidelines *ngIf="showGuidelines"></app-course-guidelines>
        </div>
        <div *ngIf="errorText" class="m-b-1">
            <app-ui-error-text [errorText]="errorText" (closeErrorTextEvent)="closeErrorText()"></app-ui-error-text>
        </div>
        <app-ui-loading *ngIf="showLoadingIndicator" [actionText]="'Loading Course Details...'"></app-ui-loading>
        <app-ui-reload *ngIf="showReload" [errorText]="'Unable to load course details.'" (retryEvent)="getMinCourseDetails()"></app-ui-reload>
        <section *ngIf="!showLoadingIndicator && !showReload">
            <div class="m-b-1" *ngFor="let view of viewOrder; let i=index">
                <mat-accordion>
                    <mat-expansion-panel class="text-color" [expanded]="openedPanelStep === i" (opened)="setOpenedPanelStep(i)">
                        <mat-expansion-panel-header [collapsedHeight]="'55px'" [expandedHeight]="'55px'">
                            <mat-panel-title>
                                <div class="col-sm-8 col-md-6 col-lg-4 expansion-panel-header-color">
                                    <h3 *ngIf="!mq.matches">{{ getViewName(view) | titlecase }} ({{ getStudyMaterialCount(view) }})</h3>
                                    <p *ngIf="mq.matches">{{ getViewName(view) | titlecase }} ({{ getStudyMaterialCount(view) }})</p>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr class="top-separator" />

                        <div class="m-b-1">
                            <div *ngIf="actionSuccessText" class="col-12 m-b-1">
                                <app-ui-success-text [successText]="actionSuccessText" (closeSuccessTextEvent)="closeActionSuccess()"></app-ui-success-text>
                            </div>
                            <div class="m-b-1">
                                <app-ui-error-text *ngIf="contentError" [hideCloseButton]="hideCloseContentLoadingErrorButton" [errorText]="contentError"></app-ui-error-text>
                            </div>
                            <app-ui-loading *ngIf="showContentLoadingIndicator" [actionText]="'Fetching Content...'"></app-ui-loading>
                            <app-ui-reload *ngIf="contentReload" [errorText]="'Unable to load content.'" (retryEvent)="getContentOfView()"></app-ui-reload>
                            <div *ngIf="(view === 'MI' || view === 'CO') && !hasContent(view) && !showContentLoadingIndicator && !contentError && !contentReload" class="m-b-1">
                                <h3 *ngIf="!mq.matches">No Content Found.</h3>
                                <p *ngIf="mq.matches">No Content Found.</p>
                            </div>
                            <div *ngIf="view === 'MI' || view === 'CO'">
                                <div class="content-container" *ngFor="let content of viewData[view]">
                                    <div class="content">
                                        <div class="background-material" (click)="contentClicked(content)">
                                            <div class="content-icon-container" [ngClass]="{'m-r-07': !mq.matches}">
                                                <mat-icon class="content-icon">
                                                    <span *ngIf="isContentTypeImage(content.content_type)">insert_photo</span>
                                                    <span *ngIf="isContentTypeVideo(content.content_type)">play_circle_outline</span>
                                                    <span *ngIf="isContentTypePdf(content.content_type)">picture_as_pdf</span>
                                                    <span *ngIf="isContentTypeLink(content.content_type)">link</span>
                                                </mat-icon>
                                            </div>
                                            <div>
                                                <h3 *ngIf="!mq.matches">{{ content.title }}</h3>
                                                <p *ngIf="mq.matches">{{ content.title }}</p>
                                                <p class="duration-text">
                                                    <span *ngIf="isContentTypeImage(content.content_type)">Image</span>
                                                    <span *ngIf="isContentTypeVideo(content.content_type)">Video</span>
                                                    <span *ngIf="isContentTypePdf(content.content_type)">Pdf</span>
                                                    <span *ngIf="isContentTypeLink(content.content_type)">Link</span>
                                                    <span *ngIf="content.target_date"> | {{ content.target_date | date}} </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="edit-controls" *ngIf="!mq.matches">
                                            <mat-icon class="m-r-05 reorder-icon" (click)="reorderClicked()">swap_vert</mat-icon>
                                            <mat-icon class="m-r-05 edit-icon" (click)="editClicked()">edit</mat-icon>
                                            <mat-icon class="delete-icon" (click)="deleteClicked(content)">delete</mat-icon>
                                        </div>
                                        <div class="edit-controls" *ngIf="mq.matches">
                                            <mat-icon class="edit-icon" (click)="showActionsClicked(content)">more_vert</mat-icon>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!showContentLoadingIndicator && !contentError && !contentReload && addContentDialog">
                                    <app-ui-add-content [view]="activeView" [week]="openedWeekStep" (normalContentAddedResultEvent)="normalContentAdded($event)" (mediaContentAddedResultEvent)="mediaContentAdded($event)"></app-ui-add-content>
                                </div>
                                <hr class="top-separator" *ngIf="!hasContent(view) || addContentDialog" />
                                <div class="d-flex justify-content-end">
                                    <button mat-stroked-button class="add-button" (click)="toggleAddContentDialog()">
                                        <mat-icon class="m-r-03 edit-icon">
                                          <span *ngIf="!addContentDialog">add</span>
                                          <span *ngIf="addContentDialog">cancel</span>
                                        </mat-icon>
                                        <span *ngIf="!addContentDialog" class="l-h-24 p-r-04">
                                          <span *ngIf="!mq.matches">Add</span> Content
                                        </span>
                                        <span *ngIf="addContentDialog" class="l-h-24 p-r-04">
                                          Hide Add Content
                                        </span>
                                      </button>
                                </div>
                            </div>
                            <div *ngIf="view !== 'MI' && view !== 'CO' && !showContentLoadingIndicator && !contentReload">
                                <div *ngFor="let week of viewDetails[view]['weeks']; let i=index">
                                    <div class="week-heading" [ngClass]="{'p-1r': !mq.matches, 'p-05r': mq.matches}">
                                        <div class="d-flex justify-content-between week-heading-color" (click)="setOpenedWeekStep(week)">
                                            <h3 *ngIf="!mq.matches">Week {{ i + 1 }} ({{ viewDetails[view][week] }})</h3>
                                            <p *ngIf="mq.matches">Week {{ i + 1 }} ({{ viewDetails[view][week] }})</p>
                                            <div class="d-flex align-content-center">
                                                <mat-icon *ngIf="openedWeekStep !== week">keyboard_arrow_down</mat-icon>
                                                <mat-icon *ngIf="openedWeekStep === week">keyboard_arrow_up</mat-icon>
                                            </div>
                                        </div>
                                        <div class="week-content" *ngIf="openedWeekStep === week">
                                            <hr class="top-separator" />
                                            <div *ngIf="!hasContent(view)" [ngClass]="{'m-b-1': !addContentDialog}">
                                                <h3 *ngIf="!mq.matches">No content found</h3>
                                                <p *ngIf="mq.matches">No content found</p>
                                            </div>
                                            <div class="content-container" *ngFor="let content of viewData[view][week]">
                                                <div class="content">
                                                    <div class="background-material" (click)="contentClicked(content)">
                                                        <div class="content-icon-container" [ngClass]="{'m-r-07': !mq.matches}">
                                                            <mat-icon class="content-icon">
                                                                <span *ngIf="isContentTypeImage(content.content_type)">insert_photo</span>
                                                                <span *ngIf="isContentTypeVideo(content.content_type)">play_circle_outline</span>
                                                                <span *ngIf="isContentTypePdf(content.content_type)">picture_as_pdf</span>
                                                                <span *ngIf="isContentTypeLink(content.content_type)">link</span>
                                                            </mat-icon>
                                                        </div>
                                                        <div>
                                                            <h3 *ngIf="!mq.matches">{{ content.title }}</h3>
                                                            <p *ngIf="mq.matches">{{ content.title }}</p>
                                                            <p class="duration-text">
                                                                <span *ngIf="isContentTypeImage(content.content_type)">Image</span>
                                                                <span *ngIf="isContentTypeVideo(content.content_type)">Video</span>
                                                                <span *ngIf="isContentTypePdf(content.content_type)">Pdf</span>
                                                                <span *ngIf="isContentTypeLink(content.content_type)">Link</span>
                                                                <span *ngIf="content.target_date"> | {{ content.target_date | date}} </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="edit-controls" *ngIf="!mq.matches">
                                                        <mat-icon class="m-r-05 reorder-icon" (click)="reorderClicked()">swap_vert</mat-icon>
                                                        <mat-icon class="m-r-05 edit-icon" (click)="editClicked()">edit</mat-icon>
                                                        <mat-icon class="m-r-07 delete-icon" (click)="deleteClicked(content)">delete</mat-icon>
                                                    </div>
                                                    <div class="edit-controls" *ngIf="mq.matches">
                                                        <mat-icon class="edit-icon" (click)="showActionsClicked(content)">more_vert</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!showContentLoadingIndicator && !contentError && !contentReload && addContentDialog">
                                                <app-ui-add-content [view]="activeView" [week]="openedWeekStep" (normalContentAddedResultEvent)="normalContentAdded($event)" (mediaContentAddedResultEvent)="mediaContentAdded($event)"></app-ui-add-content>
                                            </div>
                                            <hr class="top-separator" *ngIf="!hasContent(view) || addContentDialog" />
                                            <div class="m-b-1" *ngIf="deleteWeekError">
                                                <app-ui-error-text [errorText]="deleteWeekError" (closeErrorTextEvent)="hideDeleteWeekError()"></app-ui-error-text>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <div class="m-r-05">
                                                    <button mat-stroked-button [disabled]="showDeleteWeekSpinner || showDeleteModuleSpinner" class="add-button" (click)="confirmDeleteWeek(week, i)">
                                                      <mat-icon *ngIf="!showDeleteWeekSpinner" class="m-r-03 delete-icon">delete</mat-icon>
                                                      <mat-progress-spinner *ngIf="showDeleteWeekSpinner" class="d-inline-block m-r-05" mode="indeterminate" [diameter]="20"></mat-progress-spinner>
                                                      <span class="l-h-24 p-r-04">
                                                        <span *ngIf="!mq.matches">Delete</span> Week
                                                      </span>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button mat-stroked-button [disabled]="showDeleteWeekSpinner || showDeleteModuleSpinner" class="add-button" (click)="toggleAddContentDialog()">
                                                      <mat-icon class="m-r-03 edit-icon">
                                                        <span *ngIf="!addContentDialog">add</span>
                                                        <span *ngIf="addContentDialog">cancel</span>
                                                      </mat-icon>
                                                      <span *ngIf="!addContentDialog" class="l-h-24 p-r-04">
                                                        <span *ngIf="!mq.matches">Add</span> Content
                                                      </span>
                                                      <span *ngIf="addContentDialog" class="l-h-24 p-r-04">Hide <span *ngIf="!mq.matches">Add Content</span></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-b-1" *ngIf="deleteModuleError">
                                    <app-ui-error-text [errorText]="deleteModuleError" (closeErrorTextEvent)="hideDeleteModuleError()"></app-ui-error-text>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="m-r-05">
                                        <button mat-stroked-button [disabled]="showDeleteModuleSpinner || showAddWeekSpinner || showDeleteWeekSpinner" class="add-button" (click)="confirmDeleteModule()">
                                          <mat-icon *ngIf="!showDeleteModuleSpinner" class="m-r-03 delete-icon">delete</mat-icon>
                                          <mat-spinner *ngIf="showDeleteModuleSpinner" class="d-inline-block m-r-03" mode="indeterminate" [diameter]="20"></mat-spinner>
                                          <span class="l-h-24 p-r-04">
                                            <span *ngIf="!mq.matches">Delete</span> Module
                                          </span>
                                        </button>
                                    </div>
                                    <div>
                                        <button mat-stroked-button [disabled]="showAddWeekSpinner || showDeleteModuleSpinner" class="add-button" (click)="addWeek()">
                                          <mat-icon *ngIf="!showAddWeekSpinner" class="m-r-03 edit-icon">add</mat-icon>
                                          <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="showAddWeekSpinner" class="d-inline-block m-r-03"></mat-spinner>
                                          <span class="l-h-24 p-r-04"><span *ngIf="!mq.matches">Add</span> Week</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="m-b-1" *ngIf="addModuleError">
                <app-ui-error-text [errorText]="addModuleError" (closeErrorTextEvent)="hideAddModuleError()"></app-ui-error-text>
            </div>
            <div *ngIf="showAddModuleForm" class="m-b-1">
                <app-ui-mb-create-form [inputPlaceholder]="'Name of Module'" [buttonText]="createModuleButtonText" [maxLength]="25" [progressSpinnerText]="'Creating module...'" [createIndicator]="addModuleIndicator" [formEvent]="addModuleFormEvent.asObservable()" (createEvent)="addModule($event)"></app-ui-mb-create-form>
            </div>
            <div class="m-b-1 d-flex justify-content-end">
                <button mat-stroked-button class="add-button" (click)="toggleAddModule()">
                  <mat-icon class="m-r-03 edit-icon">
                    <span *ngIf="!showAddModuleForm">add</span>
                    <span *ngIf="showAddModuleForm">cancel</span>
                  </mat-icon>
                  <span *ngIf="!showAddModuleForm" class="l-h-24 p-r-04"><span *ngIf="!mq.matches">Add</span> Module</span>
                  <span *ngIf="showAddModuleForm" class="l-h-24 p-r-04">Hide Add Module</span>
                </button>
            </div>
        </section>
    </section>
    <div *ngIf="showView === 'VIEW_IMAGE'">
        <app-view-image (closeViewEvent)="showCreateView($event)"></app-view-image>
    </div>
    <div *ngIf="showView === 'VIEW_PDF'">
        <app-view-pdf (closeViewEvent)="showCreateView($event)"></app-view-pdf>
    </div>
    <div *ngIf="showView === 'VIEW_VIDEO'">
        <app-view-video (closeViewEvent)="showCreateView($event)"></app-view-video>
    </div>
</mat-card>