<mat-card>
    <section *ngIf="showView === 'CREATE'">
        <div class="d-flex justify-content-between">
            <div>
                <h2 class="header-text">Create Course:</h2>
            </div>
            <div>
                <button mat-flat-button class="green-button header-button" (click)="guidelineClicked()">
              <div *ngIf="!showGuidelines">
                <span *ngIf="!mq.matches">Show Course Creation Guidelines</span>
                <span *ngIf="mq.matches">Read Guide</span>
              </div>
              <div *ngIf="showGuidelines">
                <span *ngIf="!mq.matches">Hide Course Creation Guidelines</span>
                <span *ngIf="mq.matches">Hide Guide</span>
              </div>
            </button>
            </div>
        </div>
        <hr class="top-separator" />
        <div class="m-b-1">
            <app-course-guidelines *ngIf="showGuidelines"></app-course-guidelines>
        </div>
        <div *ngIf="errorText" class="m-b-1">
            <app-ui-error-text [errorText]="errorText" (closeErrorTextEvent)="closeErrorText()"></app-ui-error-text>
        </div>
        <app-ui-loading *ngIf="showLoadingIndicator" [actionText]="loadingText"></app-ui-loading>
        <app-ui-reload *ngIf="showReload" [errorText]="reloadText" (retryEvent)="getMinCourseDetails()"></app-ui-reload>
        <section *ngIf="!showLoadingIndicator && !showReload">
            <div class="m-b-1" *ngFor="let view of viewOrder; let i=index">
                <mat-accordion>
                    <mat-expansion-panel class="text-color" [expanded]="openedPanelStep === i" (opened)="setOpenedPanelStep(i)">
                        <mat-expansion-panel-header [collapsedHeight]="'55px'" [expandedHeight]="'55px'">
                            <mat-panel-title>
                                <div class="col-sm-8 col-md-6 col-lg-4 expansion-panel-header-color">
                                    <h3 *ngIf="!mq.matches">{{ getViewName(view) | titlecase }} ({{ getStudyMaterialCount(view) }})</h3>
                                    <p *ngIf="mq.matches">{{ getViewName(view) | titlecase }} ({{ getStudyMaterialCount(view) }})</p>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr class="top-separator" />

                        <div class="m-b-1">
                            <div *ngIf="actionSuccessText" class="col-12 m-b-1">
                                <app-ui-success-text [successText]="actionSuccessText" (closeSuccessTextEvent)="closeActionSuccess()"></app-ui-success-text>
                            </div>
                            <div class="m-b-1">
                                <app-ui-error-text *ngIf="contentError" [hideCloseButton]="hideCloseContentLoadingErrorButton" [errorText]="contentError"></app-ui-error-text>
                            </div>
                            <app-ui-loading *ngIf="showContentLoadingIndicator" [actionText]="loadingContentText"></app-ui-loading>
                            <app-ui-reload *ngIf="contentReload" [errorText]="contentReloadText" (retryEvent)="getContentOfView()"></app-ui-reload>
                            <div *ngIf="!hasContent(view) && !showContentLoadingIndicator && !contentError && !contentReload">
                                <h3 *ngIf="!mq.matches">No Content Found.</h3>
                                <p *ngIf="mq.matches">No Content Found.</p>
                            </div>
                            <div *ngIf="view === 'MI' || view === 'CO'">
                                <div class="content-container" *ngFor="let content of viewData[view]">
                                    <div class="content">
                                        <div class="background-material" (click)="contentClicked(content)">
                                            <div class="content-icon-container" [ngClass]="{'m-r-07': !mq.matches}">
                                                <mat-icon class="content-icon">
                                                    <span *ngIf="isContentTypeImage(content.content_type)">insert_photo</span>
                                                    <span *ngIf="isContentTypeVideo(content.content_type)">play_circle_outline</span>
                                                    <span *ngIf="isContentTypePdf(content.content_type)">picture_as_pdf</span>
                                                    <span *ngIf="isContentTypeLink(content.content_type)">link</span>
                                                </mat-icon>
                                            </div>
                                            <div>
                                                <h3 *ngIf="!mq.matches">{{ content.title }}</h3>
                                                <p *ngIf="mq.matches">{{ content.title }}</p>
                                                <p class="duration-text">
                                                    <span *ngIf="isContentTypeImage(content.content_type)">Image</span>
                                                    <span *ngIf="isContentTypeVideo(content.content_type)">Video</span>
                                                    <span *ngIf="isContentTypePdf(content.content_type)">Pdf</span>
                                                    <span *ngIf="isContentTypeLink(content.content_type)">Link</span>
                                                    <span *ngIf="content.target_date"> | {{ content.target_date | date}} </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="edit-controls" *ngIf="!mq.matches">
                                            <mat-icon class="m-r-05 reorder-icon" (click)="reorderClicked()">swap_vert</mat-icon>
                                            <mat-icon class="m-r-05 edit-icon" (click)="editClicked()">edit</mat-icon>
                                            <mat-icon class="delete-icon" (click)="deleteClicked(content)">delete</mat-icon>
                                        </div>
                                        <div class="edit-controls" *ngIf="mq.matches">
                                            <mat-icon class="edit-icon" (click)="showActionsClicked(content)">more_vert</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section *ngIf="!showContentLoadingIndicator && !contentError && ! contentReload">
                            <div class="row upload-container" *ngIf="addFilesDialog">
                                <div class="col-12">
                                    <hr class="top-separator">
                                </div>
                                <div *ngIf="contentSuccessText" class="col-12 m-b-1">
                                    <app-ui-success-text [successText]="contentSuccessText" (closeSuccessTextEvent)="closeUploadSuccess()"></app-ui-success-text>
                                </div>
                                <div *ngIf="uploadError" class="col-12 m-b-1">
                                    <app-ui-error-text [errorText]="uploadError" (closeErrorTextEvent)="closeUploadError()"></app-ui-error-text>
                                </div>
                                <div class="col-3" *ngIf="!mq.matches">
                                    <ul class="nav upload-sidenav">
                                        <li class="nav-item" [class.nav-item-active]="selectedSidenav === 'UPLOAD_VIDEO'" (click)="setActiveSidenav('UPLOAD_VIDEO')">Upload Video</li>
                                        <li class="nav-item" [class.nav-item-active]="selectedSidenav === 'UPLOAD_IMAGE'" (click)="setActiveSidenav('UPLOAD_IMAGE')">Upload Image</li>
                                        <li class="nav-item" [class.nav-item-active]="selectedSidenav === 'UPLOAD_PDF'" (click)="setActiveSidenav('UPLOAD_PDF')">Upload Pdf</li>
                                        <li class="nav-item" [class.nav-item-active]="selectedSidenav === 'ADD_EXTERNAL_LINK'" (click)="setActiveSidenav('ADD_EXTERNAL_LINK')">Add External Link</li>
                                    </ul>
                                </div>
                                <div *ngIf="mq.matches" class="col-12">
                                    <div class="upload-nav-mb">
                                        <div [class.active-icon-color]="selectedSidenav === 'UPLOAD_VIDEO'" (click)="setActiveSidenav('UPLOAD_VIDEO')">
                                            <mat-icon>movie</mat-icon>
                                        </div>
                                        <div [class.active-icon-color]="selectedSidenav === 'UPLOAD_IMAGE'" (click)="setActiveSidenav('UPLOAD_IMAGE')">
                                            <mat-icon>insert_photo</mat-icon>
                                        </div>
                                        <div [class.active-icon-color]="selectedSidenav === 'UPLOAD_PDF'" (click)="setActiveSidenav('UPLOAD_PDF')">
                                            <mat-icon>picture_as_pdf</mat-icon>
                                        </div>
                                        <div [class.active-icon-color]="selectedSidenav === 'ADD_EXTERNAL_LINK'" (click)="setActiveSidenav('ADD_EXTERNAL_LINK')">
                                            <mat-icon>link</mat-icon>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="upload-form-container">
                                        <div *ngIf="selectedSidenav === 'UPLOAD_VIDEO'">
                                            <app-ui-upload-video [showTargetDate]="allowTargetDateSetting" [formEvent]="uploadingEvent.asObservable()" [uploadProgressEvent]="uploadProgressEvent.asObservable()" (formData)="uploadMediaFile($event)" (fileError)="uploadFormError_($event)"></app-ui-upload-video>
                                        </div>
                                        <div *ngIf="selectedSidenav === 'UPLOAD_IMAGE'">
                                            <app-ui-upload-image [showTargetDate]="allowTargetDateSetting" [formEvent]="uploadingEvent.asObservable()" [uploadProgressEvent]="uploadProgressEvent.asObservable()" (formData)="uploadMediaFile($event)" (fileError)="uploadFormError_($event)"></app-ui-upload-image>
                                        </div>
                                        <div *ngIf="selectedSidenav === 'UPLOAD_PDF'">
                                            <app-ui-upload-pdf [showTargetDate]="allowTargetDateSetting" [formEvent]="uploadingEvent.asObservable()" [uploadProgressEvent]="uploadProgressEvent.asObservable()" (formData)="uploadMediaFile($event)" (fileError)="uploadFormError_($event)"></app-ui-upload-pdf>
                                        </div>
                                        <div *ngIf="selectedSidenav === 'ADD_EXTERNAL_LINK'">
                                            <app-ui-add-external-link [showTargetDate]="allowTargetDateSetting" [formEvent]="uploadingEvent.asObservable()" (formData)="uploadExternalLink($event)" (formFieldError)="uploadFormError_($event)"></app-ui-add-external-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="top-separator" />

                            <div class="upload-toggle-button green-button" (click)="toggleMeetInstructorFileUploadDialog()">
                                <div class='m-r-05'>
                                    <mat-icon>publish</mat-icon>
                                </div>
                                <h3 *ngIf="!mq.matches">
                                    <span *ngIf="!addFilesDialog">Show</span>
                                    <span *ngIf="addFilesDialog">Hide</span> Add Content Dialog
                                </h3>
                                <p *ngIf="mq.matches">
                                    <span *ngIf="!addFilesDialog">Show</span>
                                    <span *ngIf="addFilesDialog">Hide</span> Add Content Dialog
                                </p>
                            </div>
                        </section>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="m-b-1 text-color">
                <div class="m-b-01">
                    <h3 *ngIf="!mq.matches">Storage used:</h3>
                    <p *ngIf="mq.matches">Storage used:</p>
                </div>
                <p-progressBar [value]="getStoragePercentFilled()" class="custom-progress"></p-progressBar>
                <div class="storage">
                    <p>{{ storage.storage_used | number }} / {{ storage.total_storage | number }} GB</p>
                </div>
            </div>
        </section>
    </section>
    <div *ngIf="showView === 'VIEW_IMAGE'">
        <app-view-image (closeViewEvent)="showCreateView($event)"></app-view-image>
    </div>
    <div *ngIf="showView === 'VIEW_PDF'">
        <app-view-pdf (closeViewEvent)="showCreateView($event)"></app-view-pdf>
    </div>
    <div *ngIf="showView === 'VIEW_VIDEO'">
        <app-view-video (closeViewEvent)="showCreateView($event)"></app-view-video>
    </div>
</mat-card>