.row,
.col,
.col-2,
.col-3,
.col-8,
.col-12,
.col-sm-4,
.col-sm-6,
.col-md-4,
.col-lg-2,
.col-lg-3,
h3,
h4,
hr,
p {
    padding: 0px;
    margin: 0px;
}

.mat-card {
    background-color: rgba(255, 255, 255, 0.06);
    color: #bdbdbd;
}

.green-button:disabled,
.green-button:disabled:hover {
    color: #fff;
    background-color: #008000;
    opacity: 0.6;
}

.header-text {
    transform: translateY(60%);
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #f2aa4cff !important;
}


/* For displaying people list */

.mat-expansion-panel {
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 1px 1px 1px #1f1f1f;
    margin-bottom: 0.7rem;
}

.mat-expansion-panel-header {
    border-radius: 5px;
    padding: 0 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(255, 255, 255, 0.03);
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.mat-expansion-panel-header:hover {
    background-color: rgba(255, 255, 255, 0.01) !important;
}

:host ::ng-deep .mat-expansion-indicator::after {
    color: #f2aa4cff;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.03) !important;
}

p {
    color: #bdbdbd;
}

p {
    font-size: 13px;
}

.profile-pic-width {
    width: 40px !important;
    overflow: hidden;
    object-fit: cover;
    line-height: 40px;
}

.profile-pic {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.line-height-center {
    line-height: 40px;
}

.mat-button-toggle-button:focus {
    outline: none;
}

.action-row {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.8rem;
}

@media screen and (max-width: 600px) {
    .profile-pic-width {
        width: 35px;
    }
    .profile-pic {
        border: 1px solid #ffffff;
        width: 35px;
        height: 35px;
    }
    .line-height-center {
        line-height: 35px;
    }
    .col {
        word-wrap: break-word;
    }
    .invite-details {
        padding: 0.3rem 0;
    }
    .invitee-name-mb {
        line-height: 35px;
    }
}

.green-button:disabled {
    color: #ffffff;
    background-color: #0a5652;
}

.red-color {
    color: #ff0000;
}

.yellow-color {
    color: #dda900;
}


/* Margins and padding */

.m-t-05 {
    margin-top: 0.5rem;
}

.m-r-1 {
    margin-right: 1rem;
}

.m-b-05 {
    margin-bottom: 0.5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.break-word {
    word-wrap: break-word;
}