h2,
h3,
hr {
    margin: 0;
    padding: 0;
}

.header-bg {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0.5rem;
    border-radius: 3px;
    z-index: 2;
    box-shadow: 1px 1px 1px #1f1f1f;
}

:host .mat-card {
    overflow: hidden;
    object-fit: contain;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.image {
    max-width: 100%;
    max-height: 500px;
}

.download-mb,
.download {
    display: flex;
    right: 1.5rem;
    position: absolute;
    cursor: pointer;
}

.download-mb {
    transform: translateY(-2rem);
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.download {
    transform: translateY(-2.5rem);
}

.download-color {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
}

.download-color:hover {
    background-color: rgb(17, 17, 17);
}

.disable-download {
    pointer-events: none;
}

.m-l-05 {
    margin-left: 0.5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}
