h1,
h2,
h3,
p,
hr {
    margin: 0;
    padding: 0;
}

.header {
    transform: translateY(0.5rem);
}

:host .mat-card {
    overflow: hidden;
    object-fit: contain;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.image {
    max-width: 100%;
    max-height: 500px;
}

.top-separator {
    margin-bottom: 0.7rem;
}

.download-mb,
.download {
    display: flex;
    right: 1.5rem;
    position: absolute;
    cursor: pointer;
}

.download-mb {
    transform: translateY(-2rem);
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.download {
    transform: translateY(-2.5rem);
}

.download-color {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 5px;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
}

.download-color:hover {
    background-color: rgb(17, 17, 17);
}

.disable-download {
    pointer-events: none;
}

.description {
    padding: 0.5rem;
    background-color: #303030;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0px 1px 2px #222222;
}

.m-r-05 {
    margin-right: 0.5rem;
}

.m-b-05 {
    margin-bottom: 0.5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-t-1 {
    margin-top: 1rem;
}

.l-h-24 {
    line-height: 24px;
}
