<div class="header-bg m-b-1 d-flex justify-content-between align-center">
    <h2 *ngIf="!mq.matches">{{ content.name | titlecase }}</h2>
    <h3 *ngIf="mq.matches">{{ content.name | titlecase }}</h3>
    <mat-icon class="cancel-icon m-l-05 cursor-pointer" (click)="back()">close</mat-icon>
</div>
<div class="m-b-1">
    <mat-card>
        <img class="image" [ngClass]="{'disable-download': !content.data.can_download}" [src]="content.data.file" [alt]="content.name" onContextMenu="return false;">
    </mat-card>
    <div *ngIf="content.data.can_download === true" (click)="download()">
        <mat-icon *ngIf="mq.matches" class="download-mb">get_app</mat-icon>
        <div *ngIf="!mq.matches" class="download download-color">
            <p>Download</p>
            <mat-icon>get_app</mat-icon>
        </div>
    </div>
</div>
