.row,
.col,
.col-2,
.col-3,
.col-8,
.col-12,
.col-sm-4,
.col-sm-6,
.col-md-4,
.col-lg-2,
.col-lg-3,
h3,
hr,
p {
    padding: 0px;
    margin: 0px;
}

.mat-card {
    padding: 0px 16px 0px;
    background-color: #3B3B3B;
    color: #bdbdbd;
}

.tab-header {
    color: #ffffff;
}

.tab-content {
    padding-top: 0.7rem;
}

.search-color {
    background-color: #303030;
    color: #bdbdbd;
    border-color: #6c757d;
    box-shadow: none;
    border-right: 0px;
}

.invite-button-active:not(.disabled) {
    color: #fff;
    border-color: #6c757d;
    background-color: #6c757e;
    box-shadow: none;
}

.invite-button-disabled {
    border-color: #6c757d;
    color: #fff;
    background-color: #6c757e;
    box-shadow: none;
    opacity: 0.2;
}

.no-box-shadow {
    box-shadow: none;
}

.error-text {
    padding: 0.25rem;
    margin-bottom: 0.7rem;
}

.success-text {
    padding: 0.25rem;
    margin-bottom: 0.7rem;
}

.top-separator {
    margin-top: 0.2rem;
}


/* For displaying people list */

.mat-expansion-panel {
    background-color: #303030;
    box-shadow: 0 1px 1px #4b4b4b;
    margin-bottom: 0.7rem;
}

.mat-expansion-panel-header {
    border-radius: 10px;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: #292929;
    color: #c5c5c5;
}

::ng-deep .mat-expansion-indicator::after {
    color: #c5c5c5;
}

h3,
p {
    color: #bdbdbd;
}

p {
    font-size: 13px;
}

.invite-top-separator,
.invite-bottom-separator {
    background-color: #6c757d;
}

.invite-top-separator {
    margin-bottom: 0.5rem;
}

.invite-bottom-separator {
    margin-top: 0.5rem;
}

.profile-pic-width {
    width: 40px !important;
    overflow: hidden;
    object-fit: cover;
    line-height: 40px;
}

.profile-pic {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.line-height-center {
    line-height: 40px;
}

.mat-button-toggle-button:focus {
    outline: none;
}

.action-row {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.8rem;
}

@media screen and (max-width: 600px) {
    .profile-pic-width {
        width: 35px;
    }
    .profile-pic {
        border: 1px solid #ffffff;
        width: 35px;
        height: 35px;
    }
    .line-height-center {
        line-height: 35px;
    }
    .col {
        word-wrap: break-word;
    }
    .invite-details {
        padding: 0.3rem 0;
    }
    .invitee-name-mb {
        line-height: 35px;
    }
}

.green-button {
    color: #ffffff;
    background-color: #008000;
}

.blue-button {
    color: #ffffff;
    background-color: #0784fa;
}

.red-button {
    color: #ffffff;
    background-color: #ff0000;
}

.red-button:hover {
    background-color: #c40000;
}

.green-button:hover {
    background-color: #1f6100;
}

.blue-button:hover {
    background-color: #0674db;
}

.red-color {
    color: #ff0000;
}

.yellow-color {
    color: #dda900;
}


/* Margins and padding */

.padding-top-07 {
    padding-top: 0.7rem;
}

.padding-bottom-07 {
    padding-bottom: 0.7rem;
}

.margin-right-1 {
    margin-right: 1rem;
}

.padding-left-1 {
    padding-left: 1rem;
}

.break-word {
    word-wrap: break-word;
}