.row,
.col-12,
h1,
h3,
p,
hr {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.payment-portals {
    margin: 0.7rem 0;
}

.error-text,
.success-text {
    padding: 0.2rem 0.7rem;
    margin-top: 0.5rem;
}

.wait-line-height {
    line-height: 30px;
}

.full-width-button {
    width: 100%;
}

.green-button:disabled {
    background-color: #008000;
    color: #fff;
    opacity: 0.3;
    cursor: progress;
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #f2aa4cff !important;
}

.progress-indicator {
    display: flex;
    margin-top: 0.7rem;
}

.m-t-05 {
    margin-top: 0.5rem;
}

.m-r-05 {
    margin-right: 0.5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.error-text-margin {
    margin: 0.7rem 0;
}