.row,
.col,
.col-12,
.col-md-4,
h1,
h2,
h3,
p,
hr {
    margin: 0px;
    padding: 0px;
}

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

.parent-container {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.06);
}


/* Styling license list */

.width-100 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.billing-term {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 1px 1px #061616;
}

.monthly {
    border: 1px solid rgba(58, 236, 234, 1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0;
}

.yearly {
    border: 1px solid rgba(58, 236, 234, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
}

.active-term {
    background-color: rgba(58, 236, 234, 0.9);
    color: #000;
    cursor: default;
}

.billing-term:hover:not(.active-term) {
    background-color: rgba(58, 236, 234, 0.5);
    border: 2px;
}


/* Designing plan container */

.striked-text {
    color: red;
}

.strike-color {
    color: #000;
    text-decoration: line-through;
}

.current-price {
    color: #1d1d1d;
}

.plan-container {
    width: 85%;
}

.choose-plan-container {
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 1px #a0a0a0;
}

.choose-plan-active-container {
    padding-bottom: 1.5rem;
    background-color: #e6e6e6;
}

.choose-plan-active-container,
.choose-plan-container:hover {
    border: 3px solid #f8a306;
}

.active-container {
    padding: 2rem 1rem 3rem 1rem;
}

.inactive-container {
    padding: 1rem;
}

.icon-circle {
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    height: 4.5rem;
    width: 4.5rem;
    border: 3px solid #f8a306;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    box-shadow: 0 1px 3px #fff;
}

.plan-icon {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.5rem;
    color: #f8a306;
}

.header-background-color {
    background-color: rgba(58, 236, 234, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-background-color:hover {
    background-color: rgb(57, 214, 212);
}

.icon-circle-active {
    transform: translateY(-100%);
}

.main-content-plan-inactive {
    padding: 3rem 1rem 1.5rem 1rem;
}

.main-content-plan-active {
    padding-top: 1rem;
}

.features-deactivated {
    padding-left: 1rem;
    padding-right: 1rem;
}

.features-activated {
    padding-left: 1rem;
    padding-right: 1rem;
}

.features {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px dotted #494949;
    background-color: #e6e6e6;
    color: rgb(6, 32, 53);
    word-wrap: break-word;
}

.last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rounded-button {
    border-radius: 25px;
    margin-top: 0.5rem;
}

.center {
    justify-content: center;
}

.license-name {
    color: #1d1d1d;
}

.price {
    font-size: large;
}

.p-t-1 {
    padding-top: 1rem;
}

.p-l-1 {
    padding-left: 1rem;
}

.m-t-05 {
    margin-top: 0.5rem;
}

.m-t-3 {
    margin-top: 3rem;
}

.m-r-05 {
    margin-right: 0.5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-l-05 {
    margin-left: 0.5rem;
}

.m-l-1 {
    margin-left: 1rem;
}

@media screen and (max-width: 991.98px) {
    .plan-container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .choose-plan-active-container {
        padding-bottom: 0;
    }
}