<section>
    <mat-card class="card-background">
        <h3 class="text-color">Create Institute</h3>
        <hr>

        <form>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Institute Name</mat-label>
                <input matInput maxlength="256" placeholder="Name of institute">
            </mat-form-field>

            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Institute Category</mat-label>
                        <select matNativeControl>
                          <option value="E" class="options">Education</option>
                          <option value="A" class="options">Art</option>
                          <option value="D" class="options">Dance</option>
                          <option value="M" class="options">Music</option>
                        </select>
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Country</mat-label>
                        <select matNativeControl>
                          <option value="IN" class="options">India</option>
                          <option value="US" class="options">USA</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Recognition</mat-label>
                <input matInput maxlength="256" placeholder="Registered board name">
            </mat-form-field>

            <p>Contact Details</p>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Institute Email">
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <input matInput placeholder="Institute phone number">
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Website Url</mat-label>
                <input matInput placeholder="Website Url">
            </mat-form-field>

            <p>Location Details</p>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>State</mat-label>
                        <select matNativeControl>
                          <option value="" selected></option>
                          <option *ngIf="let state of states" [value]="state.value" class="state.value">{{state.viewValue}}</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>

            <p>Additional Details</p>
            <hr>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Motto</mat-label>
                <textarea matInput maxlength="256" placeholder="Motto of institute"></textarea>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Primary Language</mat-label>
                <select matNativeControl>
                  <option value="EN" class="options">English</option>
                  <option value="HI" class="options">Hindi</option>
                  <option value="BN" class="options">Bengali</option>
                </select>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Secondary Language</mat-label>
                <select matNativeControl>
                  <option value="" class="options"></option>
                  <option value="EN" class="options">English</option>
                  <option value="HI" class="options">Hindi</option>
                  <option value="BN" class="options">Bengali</option>
                </select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Tertiary Language</mat-label>
                <select matNativeControl>
                  <option value="--" class="options"></option>
                  <option value="EN" class="options">English</option>
                  <option value="HI" class="options">Hindi</option>
                  <option value="BN" class="options">Bengali</option>
                </select>
            </mat-form-field>

        </form>
    </mat-card>
</section>