<section class="main-content" [hidden]="contentOpened">
    <div class="m-b-1" *ngIf="errorLoading">
        <app-ui-error-text [errorText]="errorLoading" [hideCloseButton]="true"></app-ui-error-text>
    </div>
    <mat-card class="m-b-1">
        <div>
            <h3>Course Instructors:</h3>
        </div>
        <hr class="top-separator m-b-1" />
        <app-ui-loading *ngIf="loadingIndicator" [actionText]="'Loading Instructors...'"></app-ui-loading>
        <app-ui-reload *ngIf="reloadIndicator" [errorText]="'Unable to load instructors.'" (retryEvent)="loadMinPreviewDetails()"></app-ui-reload>
        <h3 *ngIf="errorLoading && !mq.matches">Error occured!</h3>
        <p *ngIf="errorLoading && mq.matches">Error occured!</p>
        <div *ngIf="!loadingIndicator && !reloadIndicator && !errorLoading">
            <div *ngIf="!hasAssignedInstructors()">
                <h3 *ngIf="!mq.matches">No instructors assigned.</h3>
                <p *ngIf="mq.matches">No instructors assigned.</p>
            </div>
            <div *ngFor="let instructor of instructors" class="d-flex align-items-center justify-content-between m-b-1">
                <div class="d-flex align-items-center">
                    <img *ngIf="!instructor.image" src=" ../../../assets/imgs/cd6.png " alt="Instructors profile picture" class="instructor-dp m-r-1">
                    <img *ngIf="instructor.image" [src]="instructor.image" alt="Instructors profile picture" class="instructor-dp m-r-1">
                    <h3 *ngIf="!mq.matches">
                        <span *ngIf="instructor.name !== ' '">{{ instructor.name }}</span>
                        <span *ngIf="instructor.name === ' '">{{ instructor.email }}</span>
                    </h3>
                    <p *ngIf="mq.matches">
                        <span *ngIf="instructor.name !== ' '">{{ instructor.name }}</span>
                        <span *ngIf="instructor.name === ' '">{{ instructor.email }}</span>
                    </p>
                </div>
                <mat-icon class="m-l-03 preview-icon">visibility</mat-icon>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div>
            <h3>Course Content:</h3>
        </div>
        <hr class="top-separator m-b-1" />
        <app-ui-loading *ngIf="loadingIndicator" [actionText]="'Loading Course Content...'"></app-ui-loading>
        <app-ui-reload *ngIf="reloadIndicator" [errorText]="'Unable to load contents.'" (retryEvent)="loadMinPreviewDetails()"></app-ui-reload>
        <h3 *ngIf="errorLoading && !mq.matches">Error occured!</h3>
        <p *ngIf="errorLoading && mq.matches">Error occured!</p>
        <section *ngIf="!loadingIndicator && !reloadIndicator && !errorLoading" class="m-b-1">
            <div class="m-b-1" *ngFor="let view of viewOrder; let i=index">
                <div class="m-container" [class.selected-m-container]="openedPanelStep === i">
                    <div class="d-flex justify-content-between align-content-center c-pointer" (click)="setOpenedPanelStep(i)">
                        <div class="d-flex align-content-center">
                            <mat-icon class="m-r-05 m-icon">folder_open</mat-icon>
                            <div>
                                <h3 *ngIf="!mq.matches" class="expansion-panel-header-color l-h-40">{{ getViewName(view) | titlecase }} ({{ getViewContentCount(view) }})</h3>
                                <p *ngIf="mq.matches" class="expansion-panel-header-color l-h-40">{{ getViewName(view) | titlecase }} ({{ getViewContentCount(view) }})</p>
                                <p class="text-justify" *ngIf="!mq.matches">In this module we will study how to do the maximum use of time which is required for us.</p>
                                <small>Estimated time: 1 hr 15 minutes</small>
                            </div>
                        </div>
                        <mat-icon class="m-l-03 expansion-panel-header-color l-h-40">
                            <span *ngIf="openedPanelStep !== i">keyboard_arrow_down</span>
                            <span *ngIf="openedPanelStep === i">keyboard_arrow_up</span>
                        </mat-icon>
                    </div>
                    <div *ngIf="openedPanelStep === i">
                        <hr class="top-separator m-b-1">
                        <div *ngIf="mq.matches" class="m-d-container d-flex">
                            <mat-icon class="content-type-icon m-r-05">title</mat-icon>
                            <p class="text-justify">In this module we will study how to do the maximum use of time which is required for us.</p>
                        </div>
                        <app-ui-loading *ngIf="loadingContentIndicator" [actionText]="'Loading Module contents...'"></app-ui-loading>
                        <app-ui-error-text *ngIf="errorContentLoading" [errorText]="errorContentLoading" [hideCloseButton]="true"></app-ui-error-text>
                        <app-ui-reload *ngIf="reloadContentIndicator" [errorText]="'Unable to load contents.'" (retryEvent)="loadViewData(view)"></app-ui-reload>
                        <div *ngIf="!loadingContentIndicator && !errorContentLoading && !reloadContentIndicator">
                            <div *ngIf="view === 'MI' || view === 'CO'">
                                <div *ngIf="!viewHasContent(view)">
                                    <h3 *ngIf="!mq.matches">No content found.</h3>
                                    <h3 *ngIf="mq.matches">No content found.</h3>
                                </div>
                                <div *ngFor="let content of viewData[view]" class="m-d-container d-flex justify-content-between" (click)="contentClicked(content)">
                                    <div class="d-flex align-center">
                                        <mat-icon class="m-r-05 content-type-icon">
                                            <span *ngIf="isContentTypeImage(content.content_type)">insert_photo</span>
                                            <span *ngIf="isContentTypeVideo(content.content_type)">play_circle_outline</span>
                                            <span *ngIf="isContentTypePdf(content.content_type)">picture_as_pdf</span>
                                            <span *ngIf="isContentTypeLink(content.content_type)">link</span>
                                        </mat-icon>
                                        <div class="d-flex flex-column">
                                            <h3 *ngIf="!mq.matches">{{ content.title }}</h3>
                                            <p *ngIf="mq.matches">{{ content.title }}</p>
                                            <small *ngIf="content.data.duration">Time required: {{ getDuration(content.data.duration) }}</small>
                                            <small *ngIf="content.target_date">Target date: {{ content.target_date | date}}</small>
                                        </div>
                                    </div>
                                    <mat-icon class="m-l-03 watch-icon">radio_button_unchecked</mat-icon>
                                </div>
                            </div>
                            <div *ngIf="view !== 'MI' && view !== 'CO'">
                                <div *ngFor="let week of viewDetails[view]['weeks']; let wi=index">
                                    <div class="d-flex align-center justify-content-between week-container m-t-05 m-b-05" (click)="setOpenedWeekStep(week)">
                                        <h3 *ngIf="!mq.matches" class="week-color l-h-40">Week {{ wi + 1 }} ({{ viewDetails[view][week]}})</h3>
                                        <p *ngIf="mq.matches" class="week-color l-h-40">Week {{ wi + 1 }} ({{ viewDetails[view][week]}})</p>
                                        <mat-icon class="m-l-03 week-color">
                                            <span *ngIf="openedWeekStep !== week">keyboard_arrow_down</span>
                                            <span *ngIf="openedWeekStep === week">keyboard_arrow_up</span>
                                        </mat-icon>
                                    </div>
                                    <div *ngIf="openedWeekStep === week">
                                        <div *ngIf="!viewHasContent(view)" class="m-d-container">
                                            <h3 *ngIf="!mq.matches">No content found.</h3>
                                            <h3 *ngIf="mq.matches">No content found.</h3>
                                        </div>
                                        <div *ngFor="let content of viewData[view][week]" (click)="contentClicked(content)">
                                            <div class="m-d-container d-flex justify-content-between">
                                                <div class="d-flex align-center">
                                                    <mat-icon class="m-r-05 content-type-icon">
                                                        <span *ngIf="isContentTypeImage(content.content_type)">insert_photo</span>
                                                        <span *ngIf="isContentTypeVideo(content.content_type)">play_circle_outline</span>
                                                        <span *ngIf="isContentTypePdf(content.content_type)">picture_as_pdf</span>
                                                        <span *ngIf="isContentTypeLink(content.content_type)">link</span>
                                                    </mat-icon>
                                                    <div class="d-flex flex-column">
                                                        <h3 *ngIf="!mq.matches">{{ content.title }}</h3>
                                                        <p *ngIf="mq.matches">{{ content.title }}</p>
                                                        <small *ngIf="content.data.duration">Time required: {{ getDuration(content.data.duration) }}</small>
                                                        <small *ngIf="content.target_date">Target date: {{ content.target_date | date}}</small>
                                                    </div>
                                                </div>
                                                <mat-icon class="m-l-03 watch-icon">radio_button_unchecked</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </mat-card>
</section>

<div *ngIf="contentOpened">
    <app-preview-image hidden *ngIf="isContentTypeImage(selectedContent.content_type)"></app-preview-image>
    <app-preview-video hidden *ngIf="isContentTypeVideo(selectedContent.content_type)"></app-preview-video>
    <app-preview-pdf hidden *ngIf="isContentTypePdf(selectedContent.content_type)"></app-preview-pdf>
    <div class="heading">
        <div class="d-flex justify-content-between align-center cursor-pointer expansion-panel-header-color" (click)="toggleShowDetails()">
            <h3 *ngIf="!mq.matches">{{ selectedContent.title }}</h3>
            <p *ngIf="mq.matches">{{ selectedContent.title }}</p>
            <mat-icon class="m-l-05">
                <span *ngIf="!showDetails">expand_more</span>
                <span *ngIf="showDetails">expand_less</span>
            </mat-icon>
        </div>
    </div>
    <div *ngIf="showDetails" class="show-details">
        <div>
            <p>Uploaded on: {{ selectedContent.uploaded_on | date }}</p>
        </div>
        <div class="p-t-1 p-b-1" *ngIf="selectedContent.target_date">
            <p>Target date: {{ selectedContent.target_date | date }}</p>
        </div>
    </div>
    <div class="actions">
        <nav class="nav">
            <a class="nav-link" (click)="actionClicked('DESCRIPTION')">
                <span [class.active-action]="activeAction === 'DESCRIPTION'">Description</span>
            </a>
            <a class="nav-link" (click)="actionClicked('Q&A')">
                <span [class.active-action]="activeAction === 'Q&A'">Q&A</span>
            </a>
        </nav>
    </div>
    <div class="action-content">
        <p *ngIf="activeAction === 'DESCRIPTION'" class="text-justify">
            <span *ngIf="selectedContent.description">{{ selectedContent.description }}</span>
            <span *ngIf="!selectedContent.description">No description added.</span>
        </p>
        <div *ngIf="activeAction === 'Q&A'">
            <app-q-and-a [content]="selectedContent"></app-q-and-a>
        </div>
    </div>
</div>