<div class="full-body-container" [ngClass]="{'is-mobile': mq.matches}">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mq.matches ? 'over' : 'side'" [fixedInViewport]="mq.matches" [ngClass]="{'sidenav-container-20': mq.matches === false,
                                     'sidenav-container-75': mq.matches}" fixedTopGap="46px" [(opened)]="opened" autoFocus="false" class="sidenav-background-color">
            <mat-nav-list>
                <div *ngIf="mq.matches">
                    <h1 class="website-name">{{ webAppName }}</h1>
                    <mat-divider></mat-divider>
                </div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'PROFILE'" (click)="performAction('PROFILE')">My Profile</div>
                <mat-divider></mat-divider>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'INSTITUTES'" (click)="performAction('INSTITUTES')">My Institutes</div>
                <mat-divider></mat-divider>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'COURSES'" (click)="performAction('COURSES')">My Courses</div>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <section [ngClass]="{'toggle-icon-mobile': mq.matches, 'toggle-icon-desktop': !mq.matches}" (click)="snav.toggle()">
                <mat-icon *ngIf="opened === false" class="icon" aria-hidden="false" aria-label="Show navigaion pane icon">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="opened" class="icon" aria-hidden="false" aria-label="Hide navigaion Pane icon">
                    keyboard_arrow_left</mat-icon>
            </section>
            <div class="padding-main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" [ngClass]="{'clickable-link': true}">
                            <a (click)="navigate('HOME')">Home</a>
                        </li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'PROFILE'" [ngClass]="{'active': activeLink === 'PROFILE'}">
                            <a (click)="navigate('PROFILE')">Profile</a>
                        </li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'INSTITUTES'" [ngClass]="{'active': activeLink === 'INSTITUTES'}">
                            <a (click)="navigate('INSTITUTES')">Institutes</a>
                        </li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'COURSES'" [ngClass]="{'active': activeLink === 'COURSES'}">
                            <a (click)="navigate('COURSES')">Courses</a>
                        </li>
                    </ol>
                </nav>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>