@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-y: hidden;
}

.parent-container {
    background-color: rgba(255, 255, 255, 0.06);
    color: #bdbdbd;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* Button color globally */

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

.green-button,
.red-button,
.blue-button,
.lightblue-button,
.cancel-button {
    color: #ffffff;
    box-shadow: 1px 1px 1px #131313;
}

.green-button:hover,
.red-button:hover,
.blue-button:hover,
.lightblue-button:hover,
.cancel-button:hover {
    box-shadow: none;
}

.green-button {
    background-color: #0a5652;
}

.green-button:hover:not([disabled]) {
    background-color: #094d49;
}

.blue-button {
    background-color: #0043fc;
}

.blue-button:hover:not([disabled]) {
    background-color: #003ada;
}

.lightblue-button {
    background-color: #0784fa;
}

.lightblue-button:hover:not([disabled]) {
    background-color: #0873d8;
}

.red-button {
    background-color: #ff0000;
}

.red-button:hover:not([disabled]) {
    background-color: #d60000;
}

.cancel-button {
    background-color: #FF3D00;
}

.cancel-button:hover:not([disabled]) {
    background-color: #BF360C;
}

.expansion-panel-header-color {
    color: #f2aa4cff;
}

.reorder-icon,
.edit-icon,
.delete-icon,
.add-icon,
.preview-icon,
.message-icon {
    cursor: pointer;
}

.reorder-icon,
.add-icon {
    color: #03dac5;
}

.edit-icon {
    color: #bb86fc;
}

.message-icon {
    color: #03dac5;
}

.delete-icon {
    color: #ff0266;
}

.cancel-icon {
    color: #FF3D00;
}

.back-icon {
    color: #f2aa4cff;
}

.preview-icon {
    color: #4caf50;
}

.upvote-icon-inactive {
    color: #9cc59d;
}

.upvote-icon-active {
    color: #4caf50;
}

.comment-count-icon {
    color: #7fc0ba;
}

.pin-icon-inactive {
    color: #ffda99;
}

.pin-icon-active {
    color: #FF6D00;
}

.test-icon {
    color: #bb86fc;
}


/* Message color globally */

.error-text {
    border: 1px solid rgba(187, 134, 252);
    background-color: rgba(187, 134, 252, 0.2);
    color: #ffffff;
    border-radius: 5px;
}

.success-text {
    border: 1px solid rgb(148, 252, 134);
    background-color: rgba(148, 252, 134, 0.2);
    color: #ffffff;
    border-radius: 5px;
}

.center-retry-text {
    border: 1px solid rgba(187, 134, 252);
    background-color: rgba(187, 134, 252, 0.2);
    color: #ffffff;
    border-radius: 5px;
    height: calc(100vh / 2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.align-horizontally-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-color {
    color: #bdbdbd;
}

.text-color-87 {
    color: rgba(255, 255, 255, 0.87);
}

.cursor-pointer {
    cursor: pointer;
}

.align-center {
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.separator {
    background-color: #6c757d;
}

.width-100 {
    width: 100%;
}