@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.parent-container {
    background-color: #3b3b3b;
    color: #bdbdbd;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* Button color globally */

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

.green-button,
.red-button {
    color: #ffffff;
    box-shadow: 1px 1px 2px #1d1d1d;
}

.green-button:hover,
.red-button:hover {
    box-shadow: none;
}

.green-button {
    background-color: #008000;
}

.green-button:hover {
    background-color: #3a9b0d;
}

.red-button {
    background-color: #ff0000;
}

.red-button:hover {
    background-color: #d60000;
}

.expansion-panel-header-color {
    color: #f2aa4cff;
}

.reorder-icon,
.edit-icon,
.delete-icon {
    cursor: pointer;
}

.reorder-icon {
    color: #03dac5;
}

.edit-icon {
    color: #bb86fc;
}

.delete-icon {
    color: #ff0266;
}


/* Message color globally */

.error-text {
    border: 1px solid rgba(187, 134, 252);
    background-color: rgba(187, 134, 252, 0.2);
    color: #ffffff;
    border-radius: 5px;
}

.success-text {
    border: 1px solid rgb(148, 252, 134);
    background-color: rgba(148, 252, 134, 0.2);
    color: #ffffff;
    border-radius: 5px;
}

.center-retry-text {
    border: 1px solid rgba(187, 134, 252);
    background-color: rgba(187, 134, 252, 0.2);
    color: #ffffff;
    border-radius: 5px;
    height: calc(100vh / 2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.align-horizontally-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-color {
    color: #bdbdbd;
}

.top-separator {
    background-color: #6c757d;
}
