.mouse-pointer {
    cursor: pointer;
    outline: 0;
}

a {
    text-decoration: none;
}

.breadcrumb {
    margin-bottom: 0.65rem;
}

.main-content {
    background-color: #f1fbf9;
    min-height: calc(100% - 78px);
}

.tab {
    padding: 0.5em 0;
}

.expansion-panel {
    background-color: rgb(137, 121, 241);
}

.expansion-panel-text {
    color: #ffffff;
}