<!-- Navigation breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li class="breadcrumb-item mouse-pointer"
            [ngClass]="{'active': workspaceLinkActive == true}"><a (click)="workspaceClicked()">Workspace</a></li>
    </ol>
</nav>

<!-- Main content area -->
<mat-card class="main-content">
    <mat-tab-group dynamicHeight mat-stretch-tabs>

        <mat-tab label="Create">
            <div class="tab">
                <!-- Create Tab -->
                <mat-accordion>
                    <!-- Creating classroom -->
                    <mat-expansion-panel class="expansion-panel">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="expansion-panel-text">
                                Create Classroom
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <!-- Creating Subject -->
                    <mat-expansion-panel class="expansion-panel">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="expansion-panel-text">
                                Create Subject
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tab>

        <!-- Manage tab -->
        <mat-tab label="Manage">
            <div class="tab">
                Manage
            </div>
        </mat-tab>

        <!-- Teach tab -->
        <mat-tab label="Teach">
            <div class="tab">
                Teach
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>