.row,
.col,
.col-12,
h2,
h3,
p,
hr {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.mat-card {
    background-color: rgba(255, 255, 255, 0.08);
    color: #bdbdbd;
}


/* Styling expansion panel */

.mat-expansion-panel {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 1px 1px 1px #1f1f1f;
    margin-bottom: 0.7rem;
}

.mat-expansion-panel-header {
    border-radius: 5px;
    padding: 0 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.mat-expansion-panel-header:hover {
    background-color: rgba(255, 255, 255, 0.03) !important;
}

:host ::ng-deep .mat-expansion-indicator::after {
    color: #f2aa4cff;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 0 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.license-icon {
    color: #03dac5;
}

.invite-top-separator,
.invite-bottom-separator {
    background-color: #6c757d;
}

.invite-top-separator {
    margin-bottom: 0.5rem;
}

.invite-bottom-separator {
    margin: 0.5rem 0;
}

.invite-details {
    padding: 0.3rem 0;
    color: #bdbdbd;
}

.top-separator {
    margin-bottom: 0.7rem;
}

.margin-bottom-03 {
    margin-bottom: 0.3rem;
}

.margin-bottom-07 {
    margin-bottom: 0.7rem;
}

.heading-text {
    line-height: 36px;
    margin-bottom: 0.5rem;
    transform: translateY(0.75rem);
}

.purchase-icon {
    color: #f2aa4cff;
}

.yellow-color {
    color: #f2aa4cff;
}
