.row,
.col,
.col-12,
h2,
h3,
p,
hr {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #f2aa4cff !important;
}

.loading {
    height: calc(100vh / 2);
    display: flex;
    align-items: center;
}

.width-100 {
    width: 100%;
}

.progress-spinner-center {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}


/* Styling expansion panel */

.mat-expansion-panel {
    background-color: #303030;
    box-shadow: 0 1px 1px #4b4b4b;
    margin-bottom: 0.7rem;
}

.mat-expansion-panel-header {
    border-radius: 10px;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: #292929;
    color: #c5c5c5;
}

::ng-deep .mat-expansion-indicator::after {
    color: #bdbdbd;
}

.license-icon,
.header-color {
    color: #bdbdbd;
}

.invite-top-separator,
.invite-bottom-separator {
    background-color: #6c757d;
}

.invite-top-separator {
    margin-bottom: 0.5rem;
}

.invite-bottom-separator {
    margin: 0.5rem 0;
}

.invite-details {
    padding: 0.3rem 0;
    color: #bdbdbd;
}

.top-separator {
    margin-bottom: 0.7rem;
}

.margin-bottom-03 {
    margin-bottom: 0.3rem;
}

.margin-bottom-07 {
    margin-bottom: 0.7rem;
}