<section class="parent-container">
    <div class="d-flex justify-content-between">
        <h1>License Details:</h1>
        <div>
            <button *ngIf="!mq.matches" mat-flat-button class="green-button" (click)="purchaseLicense()">
              <div class="d-flex align-center">
                <mat-icon class="purchase-icon m-r-05">shopping_cart</mat-icon>Purchase License
              </div>
            </button>
            <mat-icon class="purchase-icon translate-purchase-icon-mb m-l-05" *ngIf="mq.matches" (click)="purchaseLicense()">shopping_cart</mat-icon>
        </div>
    </div>
    <hr class="top-separator m-t-05 m-b-1" />
    <div *ngFor="let product of productTypes; let productIndex=index" class="m-b-1">
        <div class="product-header d-flex justify-content-between align-center cursor-pointer expansion-panel-header-color" (click)="setOpenedProductStep(productIndex)">
            <h2 *ngIf="!mq.matches">{{ product }}</h2>
            <h3 *ngIf="mq.matches">{{ product }}</h3>
            <mat-icon>
                <span *ngIf="openedProductStep !== productIndex">keyboard_arrow_down</span>
                <span *ngIf="openedProductStep === productIndex">keyboard_arrow_up</span>
            </mat-icon>
        </div>
        <div *ngIf="openedProductStep === productIndex">
            <div class="loading-bg m-b-1 m-t-1" *ngIf="licenseOrdersLoading">
                <app-ui-loading [actionText]="'Loading Licenses...'"></app-ui-loading>
            </div>
            <app-ui-reload *ngIf="licenseOrdersReload" [errorText]="'Unable to load license details.'" (retryEvent)="fetchLicenseDetails(productIndex)"></app-ui-reload>
            <div class="m-t-1" *ngIf="licenseOrdersError">
                <app-ui-error-text [errorText]="licenseOrdersError" [hideCloseButton]="true"></app-ui-error-text>
            </div>
            <div *ngIf="!licenseOrdersLoading && !licenseOrdersReload && !licenseOrdersError" class="m-t-1">
                <div class="d-flex justify-content-between align-center license-type-header" [class.cursor-pointer]="licenseData.active_license.length > 0" (click)="setOpenedLicenseTypeStep(0)">
                    <h3>Active Licenses: <span *ngIf="licenseData.active_license.length === 0">None</span><span *ngIf="licenseData.active_license.length !== 0">({{ licenseData.active_license.length }})</span></h3>
                    <mat-icon *ngIf="licenseData.active_license.length > 0">
                        <span *ngIf="openedLicenseTypeStep !== 0">keyboard_arrow_down</span>
                        <span *ngIf="openedLicenseTypeStep === 0">keyboard_arrow_up</span>
                    </mat-icon>
                </div>
                <div *ngIf="openedLicenseTypeStep === 0" class="m-t-1 m-b-1">
                    <div *ngFor="let lic of licenseData.active_license; let lic_step = index" class="m-b-1">
                        <div class="d-flex justify-content-between align-center license-order-header cursor-pointer" (click)="setOpenedLicensePlanStep(lic_step)" [class.no-box-shadow]="openedLicensePlanStep === lic_step">
                            <div class="d-flex align-center">
                                <div class="icon-circle m-r-05">
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.BASIC" class="plan-icon">laptop_mac</mat-icon>
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.BUSINESS" class="plan-icon">school</mat-icon>
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.ENTERPRISE" class="plan-icon">account_balance</mat-icon>
                                    <mat-icon *ngIf="!lic.type" class="plan-icon">storage</mat-icon>
                                </div>
                                <h3>
                                    <span *ngIf="productIndex === 0">{{ INSTITUTE_LICENSE_PLANS[lic.type] | titlecase }}</span>
                                    <span *ngIf="productIndex === 1">{{ lic.no_of_gb }} GB @ {{ lic.months }} months</span>
                                </h3>
                            </div>
                            <mat-icon *ngIf="licenseData.active_license.length > 0">
                                <span *ngIf="openedLicensePlanStep !== lic_step">keyboard_arrow_down</span>
                                <span *ngIf="openedLicensePlanStep === lic_step">keyboard_arrow_up</span>
                            </mat-icon>
                        </div>
                        <div *ngIf="openedLicensePlanStep === lic_step" class="license-body">
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Order receipt:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ lic.order_receipt }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Total amount:</p>
                                </div>
                                <div class="col-6">
                                    <p>Rs. {{ lic.amount }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Paid on:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ getDateFromUnixTimeStamp(lic.payment_date) | date: 'medium' }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1" *ngIf="productIndex !== 1">
                                <div class="col-6">
                                    <p>Billing:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ BILLING_TERM[lic.billing] | titlecase }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>License Starts on:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ getDateFromUnixTimeStamp(lic.start_date) | date: 'medium' }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>License Expires on:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ getDateFromUnixTimeStamp(lic.end_date) | date: 'medium' }}</p>
                                </div>
                            </div>
                            <div *ngIf="commonLicensePlanDetails">
                                <h3 class="m-b-1 link-color">License Plan Details:</h3>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of admin:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_admin !== UNLIMITED">{{ commonLicensePlanDetails.no_of_admin }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_admin === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of faculty:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_faculty !== UNLIMITED">{{ commonLicensePlanDetails.no_of_faculty }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_faculty === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of student:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_student !== UNLIMITED">{{ commonLicensePlanDetails.no_of_student }}<span *ngIf="commonLicensePlanDetails.type === INSTITUTE_LICENSE_PLANS_REVERSE.BASIC">*</span></p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_student === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of board of members:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_board_of_members !== UNLIMITED">{{ commonLicensePlanDetails.no_of_board_of_members }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_board_of_members === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1" *ngIf="isInstituteCollege()">
                                    <div class="col-6">
                                        <p>Department limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.department_limit !== UNLIMITED">{{ commonLicensePlanDetails.department_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.department_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Classroom limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.classroom_limit !== UNLIMITED">{{ commonLicensePlanDetails.classroom_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.classroom_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Subject limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.subject_limit !== UNLIMITED">{{ commonLicensePlanDetails.subject_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.subject_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>LMS:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.LMS_exists">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.LMS_exists">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>CMS:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.CMS_exists">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.CMS_exists">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Digital test:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.digital_test">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.digital_test">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Discussion forum:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.discussion_forum">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.discussion_forum">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1" [hidden]="true">
                                    <div class="col-6">
                                        <p>Live attendees:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.video_call_max_attendees">{{ commonLicensePlanDetails.video_call_max_attendees }}</p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="productIndex !== 1">
                                <p class="cursor-pointer d-flex align-center" *ngIf="!loadingLicensePlanDetails && !commonLicensePlanDetails" (click)="loadMoreCommonLicenseDetails(lic.selected_license_id)">
                                    <mat-icon class="m-r-05 link-color">read_more</mat-icon>
                                    <span class="link">Show License Plan Details</span>
                                </p>
                                <p *ngIf="loadingLicensePlanDetails" class="d-flex align-center">
                                    <mat-progress-spinner class="m-r-05" mode="indeterminate" [diameter]="25"></mat-progress-spinner>
                                    Loading Plan Details...
                                </p>
                                <p *ngIf="commonLicensePlanDetails" class="cursor-pointer d-flex align-center" (click)="commonLicensePlanDetails = null;">
                                    <mat-icon class="m-r-05 link-color">keyboard_arrow_up</mat-icon>
                                    <span class="link">Hide License Plan Details</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-center license-type-header m-t-1" [class.cursor-pointer]="licenseData.expired_license.length > 0" (click)="setOpenedLicenseTypeStep(1)">
                    <h3>Expired Licenses: <span *ngIf="licenseData.expired_license.length === 0">None</span><span *ngIf="licenseData.expired_license.length !== 0">({{ licenseData.expired_license.length }})</span></h3>
                    <mat-icon *ngIf="licenseData.expired_license.length > 0">
                        <span *ngIf="openedLicenseTypeStep !== 1">keyboard_arrow_down</span>
                        <span *ngIf="openedLicenseTypeStep === 1">keyboard_arrow_up</span>
                    </mat-icon>
                </div>
                <div *ngIf="openedLicenseTypeStep === 1" class="m-t-1 m-b-1">
                    <div *ngFor="let lic of licenseData.expired_license; let lic_step = index" class="m-b-1">
                        <div class="d-flex justify-content-between align-center license-order-header cursor-pointer" (click)="setOpenedLicensePlanStep(lic_step)" [class.no-box-shadow]="openedLicensePlanStep === lic_step">
                            <div class="d-flex align-center">
                                <div class="icon-circle m-r-05">
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.BASIC" class="plan-icon">laptop_mac</mat-icon>
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.BUSINESS" class="plan-icon">school</mat-icon>
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.ENTERPRISE" class="plan-icon">account_balance</mat-icon>
                                    <mat-icon *ngIf="!lic.type" class="plan-icon">storage</mat-icon>
                                </div>
                                <h3>
                                    <span *ngIf="productIndex === 0">{{ INSTITUTE_LICENSE_PLANS[lic.type] | titlecase }}</span>
                                    <span *ngIf="productIndex === 1">{{ lic.no_of_gb }} GB @ {{ lic.months }} months</span>
                                </h3>
                            </div>
                            <mat-icon *ngIf="licenseData.expired_license.length > 0">
                                <span *ngIf="openedLicensePlanStep !== lic_step">keyboard_arrow_down</span>
                                <span *ngIf="openedLicensePlanStep === lic_step">keyboard_arrow_up</span>
                            </mat-icon>
                        </div>
                        <div *ngIf="openedLicensePlanStep === lic_step" class="license-body">
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Order receipt:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ lic.order_receipt }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Total amount:</p>
                                </div>
                                <div class="col-6">
                                    <p>Rs. {{ lic.amount }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Paid on:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ getDateFromUnixTimeStamp(lic.payment_date) | date: 'medium' }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1" *ngIf="productIndex !== 1">
                                <div class="col-6">
                                    <p>Billing:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ BILLING_TERM[lic.billing] | titlecase }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>License Starts on:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ getDateFromUnixTimeStamp(lic.start_date) | date: 'medium' }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>License Expired on:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ getDateFromUnixTimeStamp(lic.end_date) | date: 'medium' }}</p>
                                </div>
                            </div>
                            <div *ngIf="commonLicensePlanDetails">
                                <h3 class="m-b-1 link-color">License Plan Details:</h3>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of admin:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_admin !== UNLIMITED">{{ commonLicensePlanDetails.no_of_admin }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_admin === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of faculty:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_faculty !== UNLIMITED">{{ commonLicensePlanDetails.no_of_faculty }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_faculty === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of student:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_student !== UNLIMITED">{{ commonLicensePlanDetails.no_of_student }}<span *ngIf="commonLicensePlanDetails.type === INSTITUTE_LICENSE_PLANS_REVERSE.BASIC">*</span></p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_student === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of board of members:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_board_of_members !== UNLIMITED">{{ commonLicensePlanDetails.no_of_board_of_members }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_board_of_members === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1" *ngIf="isInstituteCollege()">
                                    <div class="col-6">
                                        <p>Department limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.department_limit !== UNLIMITED">{{ commonLicensePlanDetails.department_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.department_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Classroom limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.classroom_limit !== UNLIMITED">{{ commonLicensePlanDetails.classroom_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.classroom_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Subject limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.subject_limit !== UNLIMITED">{{ commonLicensePlanDetails.subject_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.subject_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>LMS:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.LMS_exists">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.LMS_exists">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>CMS:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.CMS_exists">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.CMS_exists">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Digital test:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.digital_test">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.digital_test">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Discussion forum:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.discussion_forum">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.discussion_forum">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1" [hidden]="true">
                                    <div class="col-6">
                                        <p>Live attendees:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.video_call_max_attendees">{{ commonLicensePlanDetails.video_call_max_attendees }}</p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="productIndex !== 1">
                                <p class="cursor-pointer d-flex align-center" *ngIf="!loadingLicensePlanDetails && !commonLicensePlanDetails" (click)="loadMoreCommonLicenseDetails(lic.selected_license_id)">
                                    <mat-icon class="m-r-05 link-color">read_more</mat-icon>
                                    <span class="link">Show License Plan Details</span>
                                </p>
                                <p *ngIf="loadingLicensePlanDetails" class="d-flex align-center">
                                    <mat-progress-spinner class="m-r-05" mode="indeterminate" [diameter]="25"></mat-progress-spinner>
                                    Loading Plan Details...
                                </p>
                                <p *ngIf="commonLicensePlanDetails" class="cursor-pointer d-flex align-center" (click)="commonLicensePlanDetails = null;">
                                    <mat-icon class="m-r-05 link-color">keyboard_arrow_up</mat-icon>
                                    <span class="link">Hide License Plan Details</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-center license-type-header m-t-1" [class.cursor-pointer]="licenseData.expired_license.length > 0" (click)="setOpenedLicenseTypeStep(2)">
                    <h3>Payment Pending Licenses: <span *ngIf="licenseData.pending_payment_license.length === 0">None</span><span *ngIf="licenseData.pending_payment_license.length !== 0">({{ licenseData.pending_payment_license.length }})</span></h3>
                    <mat-icon *ngIf="licenseData.pending_payment_license.length > 0">
                        <span *ngIf="openedLicenseTypeStep !== 2">keyboard_arrow_down</span>
                        <span *ngIf="openedLicenseTypeStep === 2">keyboard_arrow_up</span>
                    </mat-icon>
                </div>
                <div *ngIf="openedLicenseTypeStep === 2" class="m-t-1 m-b-1">
                    <div *ngFor="let lic of licenseData.pending_payment_license; let lic_step = index" class="m-b-1">
                        <div class="d-flex justify-content-between align-center license-order-header cursor-pointer" (click)="setOpenedLicensePlanStep(lic_step)" [class.no-box-shadow]="openedLicensePlanStep === lic_step">
                            <div class="d-flex align-center">
                                <div class="icon-circle m-r-05">
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.BASIC" class="plan-icon">laptop_mac</mat-icon>
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.BUSINESS" class="plan-icon">school</mat-icon>
                                    <mat-icon *ngIf="lic.type === INSTITUTE_LICENSE_PLANS_REVERSE.ENTERPRISE" class="plan-icon">account_balance</mat-icon>
                                    <mat-icon *ngIf="!lic.type" class="plan-icon">storage</mat-icon>
                                </div>
                                <h3>
                                    <span *ngIf="productIndex === 0">{{ INSTITUTE_LICENSE_PLANS[lic.type] | titlecase }}</span>
                                    <span *ngIf="productIndex === 1">{{ lic.no_of_gb }} GB @ {{ lic.months }} months</span>
                                </h3>
                            </div>
                            <mat-icon *ngIf="licenseData.pending_payment_license.length > 0">
                                <span *ngIf="openedLicensePlanStep !== lic_step">keyboard_arrow_down</span>
                                <span *ngIf="openedLicensePlanStep === lic_step">keyboard_arrow_up</span>
                            </mat-icon>
                        </div>
                        <div *ngIf="openedLicensePlanStep === lic_step" class="license-body">
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Order receipt:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ lic.order_receipt }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Total payable amount:</p>
                                </div>
                                <div class="col-6">
                                    <p>Rs. {{ lic.amount }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1" *ngIf="productIndex === 1">
                                <div class="col-6">
                                    <p>Price per GB per day:</p>
                                </div>
                                <div class="col-6">
                                    <p>Rs. {{ lic.cost_per_gb }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1">
                                <div class="col-6">
                                    <p>Order created on:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ getDateFromUnixTimeStamp(lic.order_created_on) | date: 'medium' }}</p>
                                </div>
                            </div>
                            <div class="row m-b-1" *ngIf="productIndex !== 1">
                                <div class="col-6">
                                    <p>Billing:</p>
                                </div>
                                <div class="col-6">
                                    <p>{{ BILLING_TERM[lic.billing] | titlecase }}</p>
                                </div>
                            </div>
                            <div *ngIf="commonLicensePlanDetails">
                                <h3 class="m-b-1 link-color">License Plan Details:</h3>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Price:</p>
                                    </div>
                                    <div class="col-6">
                                        <p>Rs. {{ commonLicensePlanDetails.price }}</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Flat discount:</p>
                                    </div>
                                    <div class="col-6">
                                        <p>{{ commonLicensePlanDetails.discount_percent }} %</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>GST:</p>
                                    </div>
                                    <div class="col-6">
                                        <p>{{ commonLicensePlanDetails.gst_percent }} %</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Applied discount coupon:</p>
                                    </div>
                                    <div class="col-6">
                                        <p>{{ commonLicensePlanDetails.discount_coupon }}</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Applied discount coupon price:</p>
                                    </div>
                                    <div class="col-6">
                                        <p>Rs. {{ commonLicensePlanDetails.discount_rs }}</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of admin:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_admin !== UNLIMITED">{{ commonLicensePlanDetails.no_of_admin }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_admin === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of faculty:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_faculty !== UNLIMITED">{{ commonLicensePlanDetails.no_of_faculty }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_faculty === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of student:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_student !== UNLIMITED">{{ commonLicensePlanDetails.no_of_student }}<span *ngIf="commonLicensePlanDetails.type === INSTITUTE_LICENSE_PLANS_REVERSE.BASIC">*</span></p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_student === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>No of board of members:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.no_of_board_of_members !== UNLIMITED">{{ commonLicensePlanDetails.no_of_board_of_members }}</p>
                                        <p *ngIf="commonLicensePlanDetails.no_of_board_of_members === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1" *ngIf="isInstituteCollege()">
                                    <div class="col-6">
                                        <p>Department limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.department_limit !== UNLIMITED">{{ commonLicensePlanDetails.department_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.department_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Classroom limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.classroom_limit !== UNLIMITED">{{ commonLicensePlanDetails.classroom_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.classroom_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Subject limit:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.subject_limit !== UNLIMITED">{{ commonLicensePlanDetails.subject_limit }}</p>
                                        <p *ngIf="commonLicensePlanDetails.subject_limit === UNLIMITED">Unlimited</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>LMS:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.LMS_exists">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.LMS_exists">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>CMS:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.CMS_exists">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.CMS_exists">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Digital test:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.digital_test">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.digital_test">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1">
                                    <div class="col-6">
                                        <p>Discussion forum:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.discussion_forum">Available</p>
                                        <p *ngIf="!commonLicensePlanDetails.discussion_forum">Not Available</p>
                                    </div>
                                </div>
                                <div class="row m-b-1" [hidden]="true">
                                    <div class="col-6">
                                        <p>Live attendees:</p>
                                    </div>
                                    <div class="col-6">
                                        <p *ngIf="commonLicensePlanDetails.video_call_max_attendees">{{ commonLicensePlanDetails.video_call_max_attendees }}</p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="productIndex !== 1">
                                <p class="cursor-pointer d-flex align-center" *ngIf="!loadingLicensePlanDetails && !commonLicensePlanDetails" (click)="loadMoreCommonLicenseDetails(lic.selected_license_id)">
                                    <mat-icon class="m-r-05 link-color">read_more</mat-icon>
                                    <span class="link">Show License Plan Details</span>
                                </p>
                                <p *ngIf="loadingLicensePlanDetails" class="d-flex align-center">
                                    <mat-progress-spinner class="m-r-05" mode="indeterminate" [diameter]="25"></mat-progress-spinner>
                                    Loading Plan Details...
                                </p>
                                <p *ngIf="commonLicensePlanDetails" class="cursor-pointer d-flex align-center" (click)="commonLicensePlanDetails = null;">
                                    <mat-icon class="m-r-05 link-color">keyboard_arrow_up</mat-icon>
                                    <span class="link">Hide License Plan Details</span>
                                </p>
                            </div>
                            <hr class="top-separator m-t-1 m-b-1" />
                            <h3 class="link-color">Instructions:</h3>
                            <ul>
                                <li>Please do not pay again if money was deducted.</li>
                                <li>If money was charged from your bank, please let us know by raising issue.</li>
                                <li>If money was not deducted then you can retry payment.</li>
                                <li *ngIf="productIndex !== 1">If you delete this order, then the discount coupon can be reused (if any) if the coupon has not expired.</li>
                                <li>You can retry payment within 3 days after the order creation date.</li>
                                <li>This unpaid order will be automatically deleted after 14 days from the order creation date.</li>
                            </ul>
                            <hr class="top-separator m-t-1 m-b-1" />
                            <div class="d-flex justify-content-end m-b-05">
                                <button mat-stroked-button class="button-border m-r-05">
                                  <mat-icon class="preview-icon" [class.m-r-05]="!mq.matches">pan_tool</mat-icon>
                                  <span *ngIf="!mq.matches">Raise</span><span> Issue</span>
                                </button>
                                <button mat-stroked-button class="button-border m-r-05" [hidden]="durationMoreThanThreeDays(lic.order_created_on)">
                                  <mat-icon class="add-icon" [class.m-r-05]="!mq.matches">refresh</mat-icon>
                                  <span *ngIf="!mq.matches">Retry Payment</span>
                                  <span *ngIf="mq.matches">Pay</span>
                                </button>
                                <button mat-stroked-button class="button-border">
                                  <mat-icon class="delete-icon" [class.m-r-05]="!mq.matches">delete</mat-icon>
                                  <span *ngIf="!mq.matches">Delete</span><span> Order</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>