<section>
    <mat-card class="parent-container">
        <div class="d-flex justify-content-between">
            <h3 [ngClass]="{'heading-text': !mobileQuery.matches && canPurchaseAnotherLicense}"><strong>License Details:</strong></h3>
            <div *ngIf="canPurchaseAnotherLicense">
                <button *ngIf="!mobileQuery.matches" mat-flat-button class="green-button" (click)="purchaseLicense()">Purchase License</button>
                <mat-icon class="purchase-icon" *ngIf="mobileQuery.matches" (click)="purchaseLicense()">shopping_cart</mat-icon>
            </div>
        </div>
        <hr class="top-separator" />
        <div *ngIf="fetchActiveLicenseIndicator" class="loading">
            <div class="width-100">
                <div class="progress-spinner-center">
                    <mat-progress-spinner mode="indeterminate" [diameter]="70"></mat-progress-spinner>
                </div>
                <h3 class="text-center">Fetching Institute License Details...</h3>
            </div>
        </div>
        <app-ui-error-text *ngIf="errorText" [errorText]="errorText" (closeErrorTextEvent)="closeErrorTextClicked()"></app-ui-error-text>
        <app-ui-reload *ngIf="reloadErrorText" [errorText]="reloadErrorText" (retryEvent)="retryClicked()"></app-ui-reload>
        <section *ngIf="fetchedLicenseDetails">
            <section class="margin-bottom-07">
                <h3 class="margin-bottom-03">Active License: <span *ngIf="!activeLicenseExists()">None</span></h3>
                <mat-accordion *ngIf="activeLicenseExists()">
                    <mat-expansion-panel [expanded]="licenseStep === activeLicenseDetails.license_details.id" (opened)="setLicenseStep(activeLicenseDetails.license_details.id)">
                        <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'65px'">
                            <mat-panel-title>
                                <div>
                                    <mat-icon class="license-icon">
                                        <span *ngIf="getLicensePlan(activeLicenseDetails.license_details.type) === 'BUSINESS'">school</span>
                                        <span *ngIf="getLicensePlan(activeLicenseDetails.license_details.type) === 'ENTERPRISE'">account_balance</span>
                                        <span *ngIf="getLicensePlan(activeLicenseDetails.license_details.type) === 'BASIC'">laptop_mac</span>
                                    </mat-icon>
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-4">
                                    <h3 class="header-color" *ngIf="!this.mobileQuery.matches">{{ getLicensePlan(activeLicenseDetails.license_details.type) }}</h3>
                                    <p class="header-color" *ngIf="this.mobileQuery.matches">{{ getLicensePlan(activeLicenseDetails.license_details.type) }}</p>
                                </div>
                                <div class="col d-flex justify-content-lg-center" *ngIf="!this.mobileQuery.matches">
                                    <h3 class="header-color">{{ getBillingType(activeLicenseDetails.license_details.billing) | titlecase}}</h3>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr class="invite-top-separator" />
                        <div class="row invite-body">
                            <div class="col-12">
                                <div class="row invite-details" *ngIf="this.mobileQuery.matches">
                                    <div class="col">
                                        <p>Billing Type:</p>
                                    </div>
                                    <div class="col ">
                                        <p>{{ getBillingType(activeLicenseDetails.license_details.billing) | titlecase}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Purchased on:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ activeLicenseDetails.payment_date | date}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Activated on:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ activeLicenseDetails.start_date | date}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Expiry date:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ activeLicenseDetails.end_date | date}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Paid amount:</p>
                                    </div>
                                    <div class="col">
                                        <p>&#8377; {{ activeLicenseDetails.license_details.net_amount | number }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of admins:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="activeLicenseDetails.license_details.no_of_admin !== UNLIMITED">{{ activeLicenseDetails.license_details.no_of_admin }}</span>
                                            <span *ngIf="activeLicenseDetails.license_details.no_of_admin === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of staffs:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="activeLicenseDetails.license_details.no_of_staff !== UNLIMITED">{{ activeLicenseDetails.license_details.no_of_staff }}</span>
                                            <span *ngIf="activeLicenseDetails.license_details.no_of_staff === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of faculties:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="activeLicenseDetails.license_details.no_of_faculty !== UNLIMITED">{{ activeLicenseDetails.license_details.no_of_faculty }}</span>
                                            <span *ngIf="activeLicenseDetails.license_details.no_of_faculty === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of students:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="activeLicenseDetails.license_details.no_of_student !== UNLIMITED">{{ activeLicenseDetails.license_details.no_of_student }}</span>
                                            <span *ngIf="activeLicenseDetails.license_details.no_of_student === UNLIMITED">Unlimited<span class="yellow-color" *ngIf="getLicensePlan(activeLicenseDetails.license_details.type) === 'BASIC'">*</span></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details">
                                    <div class="col">
                                        <p>Live attendees:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ activeLicenseDetails.license_details.video_call_max_attendees }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details" *ngIf="getLicensePlan(activeLicenseDetails.license_details.type) !== 'BASIC'">
                                    <div class="col">
                                        <p>Department limit:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="activeLicenseDetails.license_details.department_limit !== UNLIMITED">{{ activeLicenseDetails.license_details.department_limit }}</span>
                                            <span *ngIf="activeLicenseDetails.license_details.department_limit === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details">
                                    <div class="col">
                                        <p>Classroom Limit:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="activeLicenseDetails.license_details.classroom_limit !== UNLIMITED">{{ activeLicenseDetails.license_details.classroom_limit }}</span>
                                            <span *ngIf="activeLicenseDetails.license_details.classroom_limit === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Discussion forum:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ getDiscussionForum(activeLicenseDetails.license_details.discussion_forum) }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Scheduled Test:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="activeLicenseDetails.license_details.scheduled_test">Available</span>
                                            <span *ngIf="!activeLicenseDetails.license_details.scheduled_test">Not Available</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>LMS:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="activeLicenseDetails.license_details.LMS_exists">Available</span>
                                            <span *ngIf="!activeLicenseDetails.license_details.LMS_exists">Not Available</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="invite-bottom-separator" />
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <button mat-button class="green-button">Activate</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </section>
            <section class="margin-bottom-07">
                <h3 class="margin-bottom-03">Purchased Inactive License: <span *ngIf="!purchasedInactiveLicenseExists()">None</span></h3>
                <mat-accordion *ngIf="purchasedInactiveLicenseExists()">
                    <mat-expansion-panel [expanded]="licenseStep === purchasedInactiveLicenseDetails.license_details.id" (opened)="setLicenseStep(purchasedInactiveLicenseDetails.license_details.id)">
                        <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'65px'">
                            <mat-panel-title>
                                <div>
                                    <mat-icon class="license-icon">
                                        <span *ngIf="getLicensePlan(purchasedInactiveLicenseDetails.license_details.type) === 'BUSINESS'">school</span>
                                        <span *ngIf="getLicensePlan(purchasedInactiveLicenseDetails.license_details.type) === 'ENTERPRISE'">account_balance</span>
                                        <span *ngIf="getLicensePlan(purchasedInactiveLicenseDetails.license_details.type) === 'BASIC'">laptop_mac</span>
                                    </mat-icon>
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-4">
                                    <h3 class="header-color" *ngIf="!this.mobileQuery.matches">{{ getLicensePlan(purchasedInactiveLicenseDetails.license_details.type) }}</h3>
                                    <p class="header-color" *ngIf="this.mobileQuery.matches">{{ getLicensePlan(purchasedInactiveLicenseDetails.license_details.type) }}</p>
                                </div>
                                <div class="col d-flex justify-content-lg-center" *ngIf="!this.mobileQuery.matches">
                                    <h3 class="header-color">{{ getBillingType(purchasedInactiveLicenseDetails.license_details.billing) | titlecase}}</h3>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr class="invite-top-separator" />
                        <div class="row invite-body">
                            <div class="col-12">
                                <div class="row invite-details" *ngIf="this.mobileQuery.matches">
                                    <div class="col">
                                        <p>Billing Type:</p>
                                    </div>
                                    <div class="col ">
                                        <p>{{ getBillingType(purchasedInactiveLicenseDetails.license_details.billing) | titlecase}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Purchased on:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ purchasedInactiveLicenseDetails.payment_date | date}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Paid amount:</p>
                                    </div>
                                    <div class="col">
                                        <p>&#8377; {{ purchasedInactiveLicenseDetails.license_details.net_amount | number }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of admins:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.no_of_admin !== UNLIMITED">{{ purchasedInactiveLicenseDetails.license_details.no_of_admin }}</span>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.no_of_admin === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of staffs:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.no_of_staff !== UNLIMITED">{{ purchasedInactiveLicenseDetails.license_details.no_of_staff }}</span>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.no_of_staff === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of faculties:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.no_of_faculty !== UNLIMITED">{{ purchasedInactiveLicenseDetails.license_details.no_of_faculty }}</span>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.no_of_faculty === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of students:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.no_of_student !== UNLIMITED">{{ purchasedInactiveLicenseDetails.license_details.no_of_student }}</span>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.no_of_student === UNLIMITED">Unlimited<span class="yellow-color" *ngIf="getLicensePlan(purchasedInactiveLicenseDetails.license_details.type) === 'BASIC'">*</span></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details">
                                    <div class="col">
                                        <p>Live attendees:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ purchasedInactiveLicenseDetails.license_details.video_call_max_attendees }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details" *ngIf="getLicensePlan(purchasedInactiveLicenseDetails.license_details.type) !== 'BASIC'">
                                    <div class="col">
                                        <p>Department limit:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.department_limit !== UNLIMITED">{{ purchasedInactiveLicenseDetails.license_details.department_limit }}</span>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.department_limit === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details">
                                    <div class="col">
                                        <p>Classroom Limit:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.classroom_limit !== UNLIMITED">{{ purchasedInactiveLicenseDetails.license_details.classroom_limit }}</span>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.classroom_limit === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Discussion forum:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ getDiscussionForum(purchasedInactiveLicenseDetails.license_details.discussion_forum) }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Scheduled Test:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.scheduled_test">Available</span>
                                            <span *ngIf="!purchasedInactiveLicenseDetails.license_details.scheduled_test">Not Available</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>LMS:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="purchasedInactiveLicenseDetails.license_details.LMS_exists">Available</span>
                                            <span *ngIf="!purchasedInactiveLicenseDetails.license_details.LMS_exists">Not Available</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="invite-bottom-separator" />
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <button mat-button class="green-button">Activate</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </section>
            <section class="margin-bottom-07">
                <h3 class="margin-bottom-03">Expired License: <span *ngIf="!expiredLicenseExists()">None</span></h3>
                <mat-accordion *ngIf="expiredLicenseExists()">
                    <mat-expansion-panel [expanded]="licenseStep === expiredLicenseDetails.license_details.id" (opened)="setLicenseStep(expiredLicenseDetails.license_details.id)">
                        <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'65px'">
                            <mat-panel-title>
                                <div>
                                    <mat-icon class="license-icon">
                                        <span *ngIf="getLicensePlan(expiredLicenseDetails.license_details.type) === 'BUSINESS'">school</span>
                                        <span *ngIf="getLicensePlan(expiredLicenseDetails.license_details.type) === 'ENTERPRISE'">account_balance</span>
                                        <span *ngIf="getLicensePlan(expiredLicenseDetails.license_details.type) === 'BASIC'">laptop_mac</span>
                                    </mat-icon>
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-4">
                                    <h3 class="header-color" *ngIf="!this.mobileQuery.matches">{{ getLicensePlan(expiredLicenseDetails.license_details.type) }}</h3>
                                    <p class="header-color" *ngIf="this.mobileQuery.matches">{{ getLicensePlan(expiredLicenseDetails.license_details.type) }}</p>
                                </div>
                                <div class="col d-flex justify-content-lg-center" *ngIf="!this.mobileQuery.matches">
                                    <h3 class="header-color">{{ getBillingType(expiredLicenseDetails.license_details.billing) | titlecase}}</h3>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr class="invite-top-separator" />
                        <div class="row invite-body">
                            <div class="col-12">
                                <div class="row invite-details" *ngIf="this.mobileQuery.matches">
                                    <div class="col">
                                        <p>Billing Type:</p>
                                    </div>
                                    <div class="col ">
                                        <p>{{ getBillingType(expiredLicenseDetails.license_details.billing) | titlecase}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Purchased on:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ expiredLicenseDetails.payment_date | date}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Activated on:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ expiredLicenseDetails.start_date | date}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Expired on:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ expiredLicenseDetails.end_date | date}}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Paid amount:</p>
                                    </div>
                                    <div class="col">
                                        <p>&#8377; {{ expiredLicenseDetails.license_details.net_amount | number }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of admins:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="expiredLicenseDetails.license_details.no_of_admin !== UNLIMITED">{{ expiredLicenseDetails.license_details.no_of_admin }}</span>
                                            <span *ngIf="expiredLicenseDetails.license_details.no_of_admin === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of staffs:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="expiredLicenseDetails.license_details.no_of_staff !== UNLIMITED">{{ expiredLicenseDetails.license_details.no_of_staff }}</span>
                                            <span *ngIf="expiredLicenseDetails.license_details.no_of_staff === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of faculties:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="expiredLicenseDetails.license_details.no_of_faculty !== UNLIMITED">{{ expiredLicenseDetails.license_details.no_of_faculty }}</span>
                                            <span *ngIf="expiredLicenseDetails.license_details.no_of_faculty === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Number of students:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="expiredLicenseDetails.license_details.no_of_student !== UNLIMITED">{{ expiredLicenseDetails.license_details.no_of_student }}</span>
                                            <span *ngIf="expiredLicenseDetails.license_details.no_of_student === UNLIMITED">Unlimited<span class="yellow-color" *ngIf="getLicensePlan(expiredLicenseDetails.license_details.type) === 'BASIC'">*</span></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details">
                                    <div class="col">
                                        <p>Live attendees:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ expiredLicenseDetails.license_details.video_call_max_attendees }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details" *ngIf="getLicensePlan(expiredLicenseDetails.license_details.type) !== 'BASIC'">
                                    <div class="col">
                                        <p>Department limit:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="expiredLicenseDetails.license_details.department_limit !== UNLIMITED">{{ expiredLicenseDetails.license_details.department_limit }}</span>
                                            <span *ngIf="expiredLicenseDetails.license_details.department_limit === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details">
                                    <div class="col">
                                        <p>Classroom Limit:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="expiredLicenseDetails.license_details.classroom_limit !== UNLIMITED">{{ expiredLicenseDetails.license_details.classroom_limit }}</span>
                                            <span *ngIf="expiredLicenseDetails.license_details.classroom_limit === UNLIMITED">Unlimited</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Discussion forum:</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ getDiscussionForum(expiredLicenseDetails.license_details.discussion_forum) }}</p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>Scheduled Test:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="expiredLicenseDetails.license_details.scheduled_test">Available</span>
                                            <span *ngIf="!expiredLicenseDetails.license_details.scheduled_test">Not Available</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row invite-details ">
                                    <div class="col">
                                        <p>LMS:</p>
                                    </div>
                                    <div class="col">
                                        <p>
                                            <span *ngIf="expiredLicenseDetails.license_details.LMS_exists">Available</span>
                                            <span *ngIf="!expiredLicenseDetails.license_details.LMS_exists">Not Available</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="invite-bottom-separator" />
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <button mat-button class="green-button">Activate</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </section>
        </section>