<div class="hint-container">
    <h2 class="text-center">Guidelines:</h2>
    <ul>
        <li>
            There are twelve optional modules, and within each module there are four weeks.
        </li>
        <li>
            Each module corresponds to one month of course.
        </li>
        <li>
            Additionally there are two mandatory modules namely, 'Meet Your instructors' and 'Course Overview'.
        </li>
        <li>
            You can upload study materials in the form of pre-recorded videos, images, pdfs, & even schedule live classes, tests & assignments.
        </li>
        <li>
            You can set deadline to every study materials you provide.
        </li>
        <li>
            This deadline will be used to track performance of the student using our SMART STUDENT MONITORING ALGORITHM.
        </li>
        <li>
            It's a good practice to create a set of MCQs related to each topic for evaluating the conceptual grasp about the topic.
        </li>
        <li>
            You can also set minimum score in the MCQs which is required to start learning the next topic.
        </li>
        <li>
            Graded tests/assignments will be used in calculating the result.
        </li>
        <li>
            Whereas all kinds of tests, assignments, deadlines and interactivity of the student will be used in computing the overall performance of the student.
        </li>
        <li>
            This performance score is visible to the student & can be used for transparent distribution of internal assessment marks.
        </li>
        <li>
            Each student can provide anonymous feedback about each live sessions or study materials, which can be used for improving the quality of the course content.
        </li>
        <li>
            Since our focus is on creating a dynamic platform, so feel free to provide any ideas(if any) to us which will be useful for improving the platform.
        </li>
    </ul>
</div>