<section *ngIf="!testScheduleType">
    <div class="header d-flex justify-content-between align-center">
        <h3>Add Test Form:</h3>
        <mat-icon class="cancel-icon cursor-pointer m-l-05" (click)="closeAddTest()">close</mat-icon>
    </div>
    <div class="stepper-body p-1rem">
        <div class="cursor-pointer test-select-type m-b-1" (click)="setTestScheduleType(TEST_SCHEDULE_TYPES.SPECIFIC_DATE_AND_TIME)">
            <h3><span class="test-select-header">SPECIFIC DATE AND TIME TEST:</span></h3> Test will begin at scheduled date and time.
        </div>
        <div class="cursor-pointer test-select-type m-b-1" (click)="setTestScheduleType(TEST_SCHEDULE_TYPES.SPECIFIC_DATE)">
            <h3><span class="test-select-header">SPECIFIC DATE TEST:</span></h3> Students can give test on scheduled date for whole day.
        </div>
        <div class="cursor-pointer test-select-type" (click)="setTestScheduleType(TEST_SCHEDULE_TYPES.UNSCHEDULED)">
            <h3><span class="test-select-header">UNSCHEDULED TEST:</span></h3>Students can take test on any date at any time after test is set active.
        </div>
    </div>
</section>
<section *ngIf="testScheduleType">
    <div class="header d-flex justify-content-between align-center">
        <h3>Add Test Form:</h3>
        <mat-icon class="cancel-icon cursor-pointer m-l-05" (click)="closeAddTest()">close</mat-icon>
    </div>
    <app-add-subject-specific-date-time-test [viewKey]="viewKey" [lectureId]="lectureId" (changeTestScheduleTypeEvent)="changeTestScheduleType()" (testCreatedEvent)="testCreated($event)" *ngIf="testScheduleType === TEST_SCHEDULE_TYPES.SPECIFIC_DATE_AND_TIME"></app-add-subject-specific-date-time-test>
    <app-add-subject-specific-date-test [viewKey]="viewKey" [lectureId]="lectureId" (changeTestScheduleTypeEvent)="changeTestScheduleType()" (testCreatedEvent)="testCreated($event)" *ngIf="testScheduleType === TEST_SCHEDULE_TYPES.SPECIFIC_DATE"></app-add-subject-specific-date-test>
    <app-add-subject-unsheduled-test [viewKey]="viewKey" [lectureId]="lectureId" (changeTestScheduleTypeEvent)="changeTestScheduleType()" (testCreatedEvent)="testCreated($event)" *ngIf="testScheduleType === TEST_SCHEDULE_TYPES.UNSCHEDULED"></app-add-subject-unsheduled-test>
</section>
