h3,
hr {
    margin: 0;
    padding: 0;
}

.header {
    padding: 1rem;
    background-color: #0f1d24;
}

.test-select-type {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 1px 1px 1px #1f1f1f;
    border-radius: 5px;
}

.test-select-type:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-2%);
}

.test-select-header {
    color: #03dac5;
}

.stepper-body {
    background-color: rgba(255, 255, 255, 0.05);
}

.p-1rem {
    padding: 1rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-l-05 {
    margin-left: 0.5rem;
}
