<!-- Showing sidenav -->
<div class="full-body-container" [ngClass]="{'is-mobile': mobileQuery.matches}">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [ngClass]="{'sidenav-container-20': mobileQuery.matches === false,
                                       'sidenav-container-75': mobileQuery.matches}" fixedTopGap="46px" [(opened)]="opened" autoFocus="false" class="sidenav-background-color">

            <!-- Sidenav contents -->
            <mat-nav-list>
                <h1 *ngIf="mobileQuery.matches" class="website-name">EduWeb</h1>
                <div [ngClass]="{'sidenav-content-less-padding': mobileQuery.matches,
                                 'sidenav-content-more-padding': mobileQuery.matches === false,
                                 'selected-nav-option': this.activeLink === 'PROFILE'}" (click)="performAction('PROFILE')" *ngIf="!this.showInstituteViewSidenav">My Profile</div>
                <mat-divider *ngIf="!this.showInstituteViewSidenav"></mat-divider>
                <div [ngClass]="{'sidenav-content-less-padding': mobileQuery.matches,
                                 'sidenav-content-more-padding': mobileQuery.matches === false,
                                 'selected-nav-option': !this.secondaryActiveLink && this.activeLink === 'INSTITUTES'}" (click)="performAction('INSTITUTES')">My Institutes</div>
                <div *ngIf="!this.showInstituteViewSidenav">
                    <mat-divider></mat-divider>
                    <div [ngClass]="{'sidenav-content-less-padding': mobileQuery.matches,
                                     'sidenav-content-more-padding': mobileQuery.matches === false,
                                     'selected-nav-option': this.activeLink === 'CHATROOMS'}" (click)="performAction('CHATROOMS')">Chat Rooms</div>
                    <mat-divider></mat-divider>
                </div>
                <div *ngIf="this.showInstituteViewSidenav">
                    <div [ngClass]="{'sidenav-content-less-padding': mobileQuery.matches,
                                   'sidenav-content-more-padding': mobileQuery.matches === false,
                                   'selected-nav-option': this.secondaryActiveLink === 'INSTITUTE_PROFILE'}" (click)="performAction('INSTITUTE_PROFILE')">Institute Profile</div>
                    <div [ngClass]="{'sidenav-content-less-padding': mobileQuery.matches,
                                   'sidenav-content-more-padding': mobileQuery.matches === false,
                                   'selected-nav-option': this.secondaryActiveLink === 'INSTITUTE_PERMISSIONS'}" (click)="performAction('INSTITUTE_PERMISSIONS')">Institute Permissions</div>
                    <div [ngClass]="{'sidenav-content-less-padding': mobileQuery.matches,
                                   'sidenav-content-more-padding': mobileQuery.matches === false,
                                   'selected-nav-option': this.secondaryActiveLink === 'INSTITUTE_CLASSES'}" (click)="performAction('INSTITUTE_CLASSES')">Institute Classes</div>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <section [ngClass]="{'toggle-icon-mobile': mobileQuery.matches, 'toggle-icon-desktop': !mobileQuery.matches}" (click)="snav.toggle()">
                <mat-icon *ngIf="opened === false" class="icon" aria-hidden="false" aria-label="Show navigaion pane icon">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="opened" class="icon" aria-hidden="false" aria-label="Hide navigaion Pane icon">
                    keyboard_arrow_left</mat-icon>
            </section>

            <!-- Navigation breadcrumb -->
            <div class="padding-main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" [ngClass]="{'clickable-link': true}">
                            <a (click)="navigateClicked('HOME')">Home</a></li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'PROFILE'" [ngClass]="{'active': activeLink === 'PROFILE', 'clickable-link': activeLink !== 'PROFILE'}">
                            <a (click)="navigateClicked('PROFILE')">Profile</a></li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'INSTITUTES'" [ngClass]="{'active': activeLink === 'INSTITUTES' && secondaryActiveLink !== 'CREATE' && secondaryActiveLink !== 'INSTITUTE_PROFILE' && secondaryActiveLink !== 'INSTITUTE_PERMISSIONS', 'clickable-link': activeLink === 'INSTITUTES' && secondaryActiveLink}">
                            <a *ngIf="activeLink === 'INSTITUTES' && secondaryActiveLink !== 'CREATE'" (click)="navigateClicked('INSTITUTES')">Institutes</a>
                            <a *ngIf="activeLink === 'INSTITUTES' && secondaryActiveLink === 'CREATE'" (click)="emitEvent('INSTITUTES')">Institutes</a>
                        </li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'CHATROOMS'" [ngClass]="{'active': activeLink === 'CHATROOMS', 'clickable-link': activeLink !== 'CHATROOMS'}">
                            <a (click)="navigateClicked('CHATROOMS')">Chat Rooms</a></li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'INSTITUTES' && secondaryActiveLink === 'CREATE'" [ngClass]="{'active': activeLink === 'INSTITUTES' && secondaryActiveLink === 'CREATE', 'clickable-link': secondaryActiveLink !== 'CREATE'}">Create</li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'INSTITUTES' && secondaryActiveLink === 'INSTITUTE_PROFILE'" [ngClass]="{'active': activeLink === 'INSTITUTES' && secondaryActiveLink === 'INSTITUTE_PROFILE', 'clickable-link': secondaryActiveLink !== 'INSTITUTE_PROFILE'}">Preview</li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'INSTITUTES' && secondaryActiveLink === 'INSTITUTE_PERMISSIONS'" [ngClass]="{'active': activeLink === 'INSTITUTES' && secondaryActiveLink === 'INSTITUTE_PERMISSIONS', 'clickable-link': secondaryActiveLink !== 'INSTITUTE_PERMISSIONS'}">Permissions</li>
                        <li class="breadcrumb-item mouse-pointer" *ngIf="activeLink === 'INSTITUTES' && secondaryActiveLink === 'INSTITUTE_CLASSES'" [ngClass]="{'active': activeLink === 'INSTITUTES' && secondaryActiveLink === 'INSTITUTE_CLASSES', 'clickable-link': secondaryActiveLink !== 'INSTITUTE_CLASSES'}">Classes</li>
                    </ol>
                </nav>

                <!-- Router outlet for dynamic content -->
                <div class="no-scrollbar">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>