<section>
    <mat-card class="parent-container">
        <div class="heading">
            <h1 *ngIf="!mobileQuery.matches">Choose a License:</h1>
            <h2 *ngIf="mobileQuery.matches">Choose a License:</h2>
        </div>
        <div class="width-100">
            <div>
                <div class="row">
                    <div class="col billing-term monthly" [class.active-term]="activeBilling === 'MONTHLY'" (click)="changeBillingTerm('MONTHLY')">Monthly</div>
                    <div class="col billing-term yearly" [class.active-term]="activeBilling === 'YEARLY'" (click)="changeBillingTerm('YEARLY')">Yearly</div>
                </div>
            </div>
        </div>

        <section>
            <div class="width-100">
                <div [ngClass]="{'plan-container': !mobileQuery.matches, 'col-12': mobileQuery.matches}">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let mp of currentActiveLicensePlans" [ngClass]="{'margin-bottom-1': mobileQuery.matches, 'inactive-container': !mobileQuery.matches && activePlanContainer !== getActivePlan(mp.type)}">
                            <mat-card class="choose-plan-container" [class.choose-plan-active-container]="activePlanContainer === getActivePlan(mp.type)" (click)="changeActivePlanContainer(getActivePlan(mp.type))">
                                <div class="row center header-background-color" [ngClass]="{'active-container': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                    <div class="icon-circle" [class.icon-circle-active]="!mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)">
                                        <mat-icon *ngIf="getActivePlan(mp.type) === 'BASIC'" class="plan-icon">laptop_mac</mat-icon>
                                        <mat-icon *ngIf="getActivePlan(mp.type) === 'BUSINESS'" class="plan-icon">school</mat-icon>
                                        <mat-icon *ngIf="getActivePlan(mp.type) === 'ENTERPRISE'" class="plan-icon">account_balance</mat-icon>
                                    </div>
                                    <div class="col-12 text-center" [ngClass]="{'main-content-plan-inactive': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'main-content-plan-active': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <h2 class="license-name">{{ getActivePlan(mp.type) }}</h2>
                                        <h3 class="price">
                                            <span *ngIf="isDiscountPresent(mp.discount_percent)" class="strike-color">
                                            <span class="striked-text">&#8377;{{ mp.amount / 1000 }} K</span>
                                            </span>
                                            &nbsp;
                                            <span class="current-price">&#8377; {{ calculateCostInThousands(mp.amount, mp.discount_percent) }} K / month</span>
                                        </h3>
                                        <p>Best suited for <span *ngIf="getActivePlan(mp.type) === 'BASIC'">coachings</span><span *ngIf="getActivePlan(mp.type) === 'BUSINESS'">schools</span><span *ngIf="getActivePlan(mp.type) === 'ENTERPRISE'">colleges</span>.</p>
                                        <p>Billed <span *ngIf="getBillingTerm(mp.billing) === 'MONTHLY'">monthly</span><span *ngIf="getBillingTerm(mp.billing) === 'ANNUALLY'">annually</span>.</p>
                                        <button mat-flat-button class="green-button rounded-button" (click)="selectedLicense(mp.id)">Get started</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Admin
                                            </div>
                                            <div *ngIf="!(mp.no_of_admin === 99999)" class="col">{{ mp.no_of_admin }}</div>
                                            <div *ngIf="mp.no_of_admin === 99999" class="col">Unlimited</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Staffs
                                            </div>
                                            <div *ngIf="!(mp.no_of_staff === 99999)" class="col">{{ mp.no_of_staff }}</div>
                                            <div *ngIf="mp.no_of_staff === 99999" class="col">Unlimited</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Faculties
                                            </div>
                                            <div *ngIf="!(mp.no_of_faculty === 99999)" class="col">{{ mp.no_of_faculty }}</div>
                                            <div *ngIf="mp.no_of_faculty === 99999" class="col">Unlimited</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Students
                                            </div>
                                            <div *ngIf="!(mp.no_of_student === 99999)" class="col">{{ mp.no_of_student }}</div>
                                            <div *ngIf="mp.no_of_student === 99999" class="col">Unlimited<span *ngIf="getActivePlan(mp.type) === 'BASIC'">*</span></div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Storage
                                            </div>
                                            <div *ngIf="!(mp.storage === 99999)" class="col">{{ mp.storage }} GB</div>
                                            <div *ngIf="mp.storage === 99999" class="col">Custom</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" *ngIf="!instituteIsCoaching()" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Departments
                                            </div>
                                            <div *ngIf="!(mp.department_limit === 99999)" class="col">{{ mp.department_limit }}</div>
                                            <div *ngIf="mp.department_limit === 99999" class="col">Unlimited</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Classrooms
                                            </div>
                                            <div *ngIf="!(mp.classroom_limit === 99999)" class="col">{{ mp.classroom_limit }}</div>
                                            <div *ngIf="mp.classroom_limit === 99999" class="col">Unlimited</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Subjects
                                            </div>
                                            <div *ngIf="!(mp.subject_limit === 99999)" class="col">{{ mp.subject_limit }}</div>
                                            <div *ngIf="mp.subject_limit === 99999" class="col">Unlimited</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Scheduled Test
                                            </div>
                                            <div *ngIf="mp.scheduled_test" class="col">Available</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                LMS
                                            </div>
                                            <div *ngIf="mp.LMS_exists" class="col">Available</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Discussion Forum
                                            </div>
                                            <div class="col">{{ getDiscussionForums(mp.discussion_forum) }}</div>
                                        </div>
                                    </div>
                                    <div class="col-12 features last-child" [ngClass]="{'features-deactivated': mobileQuery.matches || activePlanContainer !== getActivePlan(mp.type), 'features-activated': !mobileQuery.matches && activePlanContainer === getActivePlan(mp.type)}">
                                        <div class="row">
                                            <div class="col">
                                                Live Attendees
                                            </div>
                                            <div class="col">{{ mp.video_call_max_attendees}}</div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </mat-card>
</section>