.full-body-container {
    height: calc(100vh - 54px);
    width: 100%;
}


/* Styling sidenav toggle icon */

.toggle-icon-mobile,
.toggle-icon-desktop {
    left: 0;
    z-index: 100;
    background-color: #000000;
    padding: 6px 0px 2px 0px;
    cursor: pointer;
}

.toggle-icon-mobile {
    top: 56px;
    position: fixed;
}

.toggle-icon-desktop {
    top: 0px;
    position: absolute;
}

.icon {
    color: #ffffff;
}


/* Styling sidenav */

.sidenav-container-20 {
    height: 100%;
    width: 20%;
}

.sidenav-container-75 {
    width: 75%;
    height: 100%;
}

.sidenav-container {
    width: 100%;
    height: 100%;
    background-color: #303030;
    color: #FBFBFB;
}

.is-mobile {
    position: absolute;
    z-index: 200;
}


/* Styling sidenav contents */

.website-name {
    margin: 0px;
    padding: 7px 45px 7px 19px;
    color: #fbd000;
}

.sidenav-background-color {
    background-color: #262626;
    color: #ffffff;
}

.sidenav-content-less-padding {
    padding: 9px 20px;
    cursor: pointer;
}

.sidenav-content-more-padding {
    padding: 9px 30px;
    cursor: pointer;
}

.selected-nav-option {
    background-color: #1D1D1D;
    outline: none;
    border-width: 2px 0px 2px 0px;
    border-color: #343434;
    border-style: solid;
}

.sidenav-content-less-padding:hover,
.sidenav-content-more-padding:hover {
    background-color: #424242;
}


/* Styling breadbrumb */

.padding-main-content {
    /*Includes main content styling too*/
    padding: 15px;
}

.breadcrumb {
    background-color: #383838;
    color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px 0 #1d1d1d;
}

.mouse-pointer {
    cursor: pointer;
}

.clickable-link {
    color: #bdbdbd;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.active {
    color: #858585;
    cursor: default;
    font-weight: normal;
}

::-webkit-scrollbar {
    display: none;
}
