.full-body-container {
  width: 100%;
  height: 100%;
}

/* Styling sidenav */
.full-body-height {
    width: 100%;
    height: 100%;
}

.sidenav {
  padding: 10px 20px 10px;
}

.navbar-content-width-75 {
  width: 75%;         /* Fill 75% of viewport if device is mobile */
}

.navbar-content-width-25 {
  width: 25%;         /* Fill 25% of viewport if device is laptop */
}

/* Styling toggler toolbar of sidenav */
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 46px;
}

#workspace-title {
  padding-left: 8px;
}

/* Styling child container space */
.workspace-child-body {
    background-color: burlywood;
    height: 100%;
    padding: 10px 25px 0 25px;
}