<section *ngIf="loadingIndicator || loadingError || reloadIndicator" class="full-body-container sidenav-container">
    <div *ngIf="loadingIndicator" class="center-loading">
        <app-ui-loading [actionText]="'Loading...'"></app-ui-loading>
    </div>
    <div *ngIf="loadingError || reloadIndicator" class="p-2rem">
        <app-ui-error-text *ngIf="loadingError" [errorText]="loadingError" [hideCloseButton]="true"></app-ui-error-text>
        <app-ui-reload *ngIf="reloadIndicator" [errorText]="'Unable to load test.'" (retryEvent)="loadTestMinDetails()"></app-ui-reload>
    </div>
</section>
<section *ngIf="!loadingIndicator && !loadingError && !reloadIndicator" class="full-body-container" [ngClass]="{'is-mobile': mq.matches}">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mq.matches ? 'over' : 'side'" [fixedInViewport]="mq.matches" [ngClass]="{'sidenav-container-20': mq.matches === false,
                                 'sidenav-container-75': mq.matches}" fixedTopGap="46px" [(opened)]="opened" autoFocus="false" class="sidenav-background-color">
            <mat-nav-list>
                <h1 *ngIf="mq.matches" class="website-name">{{ webAppName }}</h1>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'DASHBOARD'" (click)="navigate('DASHBOARD')">Test Dashboard</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'CREATE-QUESTION-PAPER/FILE-MODE'" (click)="navigate('CREATE-QUESTION-PAPER/FILE-MODE')" *ngIf="testMinDetails.question_mode === QUESTION_MODE.FILE">Create Question Paper</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'CREATE-QUESTION-PAPER/IMAGE-MODE'" (click)="navigate('CREATE-QUESTION-PAPER/IMAGE-MODE')" *ngIf="testMinDetails.question_mode === QUESTION_MODE.IMAGE">Create Question Paper</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'CREATE-QUESTION-PAPER/ALL-QUESTION-TYPED-MODE'" (click)="navigate('CREATE-QUESTION-PAPER/ALL-QUESTION-TYPED-MODE')" *ngIf="testMinDetails.question_mode === QUESTION_MODE.TYPED && testMinDetails.question_category === QUESTIONS_CATEGORY.ALL_TYPES">Create Question Paper</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'CREATE-QUESTION-PAPER/AUTOCHECK-QUESTION-TYPED-MODE'" (click)="navigate('CREATE-QUESTION-PAPER/AUTOCHECK-QUESTION-TYPED-MODE')"
                    *ngIf="testMinDetails.question_mode === QUESTION_MODE.TYPED && testMinDetails.question_category === QUESTIONS_CATEGORY.AUTOCHECK_TYPE">Create Question Paper</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" (click)="navigate('CURRENT_SUBJECT')">Current Subject</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" (click)="navigate('CURRENT_INSTITUTE')">Current Institute</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" (click)="navigate('INSTITUTES')">All Institutes</div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <section [ngClass]="{'toggle-icon-mobile': mq.matches, 'toggle-icon-desktop': !mq.matches}" (click)="snav.toggle()">
                <mat-icon *ngIf="opened === false" class="icon" aria-hidden="false" aria-label="Show navigaion pane icon">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="opened" class="icon" aria-hidden="false" aria-label="Hide navigaion Pane icon">
                    keyboard_arrow_left</mat-icon>
            </section>
            <div class="padding-main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" [ngClass]="{'clickable-link': true}"><a (click)="navigate('HOME')">Home</a></li>
                        <li class="breadcrumb-item clickable-link"><a (click)="navigate('CURRENT_INSTITUTE')">Institute</a></li>
                        <li class="breadcrumb-item clickable-link"><a (click)="navigate('CURRENT_SUBJECT')">Subject</a></li>
                        <li class="breadcrumb-item mouse-pointer active" [hidden]="activeLink !== 'DASHBOARD'">Dashboard</li>
                        <li class="breadcrumb-item mouse-pointer active" [hidden]="activeLink !== 'CREATE-QUESTION-PAPER/FILE-MODE' && activeLink !== 'CREATE-QUESTION-PAPER/IMAGE-MODE' && activeLink !== 'CREATE-QUESTION-PAPER/ALL-QUESTION-TYPED-MODE' && activeLink !== 'CREATE-QUESTION-PAPER/AUTOCHECK-QUESTION-TYPED-MODE'">Create</li>
                    </ol>
                </nav>
                <div class="no-scrollbar ">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</section>