<div class="body-container">
    <h2>My Courses:</h2>
    <hr class="separator m-b-1 m-t-03" />
    <app-ui-loading *ngIf="showLoadingIndicator" [actionText]="'Loading Courses...'"></app-ui-loading>
    <app-ui-reload *ngIf="showReload" [errorText]="'Unable to load course details.'" (retryEvent)="getCourses()"></app-ui-reload>
    <h3 *ngIf="isMyCourseEmpty()">No courses found.</h3>
    <div *ngIf="!showLoadingIndicator && !showReload && !isMyCourseEmpty()">
        <div *ngFor="let institute of viewOrder; let i=index">
            <div class="d-flex justify-content-between align-center expansion-panel-header-color ep-header m-b-1" (click)="setOpenedPanelStep(i)">
                <h3>{{ institute.name | titlecase }} <span *ngIf="classNames[institute.institute_slug]">({{ classNames[institute.institute_slug] | titlecase }})</span></h3>
                <mat-icon class="m-l-0.5">
                    <span *ngIf="this.openedPanelStep !== i">keyboard_arrow_down</span>
                    <span *ngIf="this.openedPanelStep === i">keyboard_arrow_up</span>
                </mat-icon>
            </div>
            <div *ngIf="openedPanelStep === i" [class.m-t-1]="!mq.matches">
                <h3 *ngIf="isInstituteCourseListEmpty(institute.institute_slug)" class="m-b-1 m-l-1">No course content found.</h3>
                <div class="row">
                    <div class="col-sm-4 m-b-1" *ngFor="let course of getCourseList(institute)">
                        <div class="c-container cursor-pointer" (click)="openCourse(course)">
                            <div class="c-image" *ngIf="!course.image"></div>
                            <img class="c-image" *ngIf="course.image" [src]="course.image" alt="Course image">
                            <div class="c-overlay p-05rem">
                                <h3 class="c-name">{{ course.subject_name | titlecase }}</h3>
                                <small class="c-description text-justify">{{ formatDescription(course.description) }}</small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <mat-icon class="bookmark cursor-pointer" (click)="bookmark(course)">
                                <span *ngIf="!course['BOOKMARKED']">star_border</span>
                                <span *ngIf="course['BOOKMARKED']">star</span>
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>