.col-sm-9,
.col-3,
.col-12,
.row {
    padding: 0;
    margin: 0;
}


/* Upload Files styling */

.upload-container {
    border-radius: 5px;
    margin-bottom: 1rem;
}

.upload-sidenav {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    z-index: 5;
    box-shadow: 1px 1px 1px #1f1f1f;
    border-radius: 5px;
}

.nav-item {
    padding: 0.5rem;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #436b6d;
    color: #fff;
}

.nav-item-active {
    background-color: #508183;
    color: #fff;
    cursor: auto;
}

.upload-sidenav li:first-child:hover,
.upload-sidenav-dark li:first-child:hover,
.upload-sidenav li:first-child.nav-item-active,
.upload-sidenav-dark li:first-child.nav-item-active {
    border-radius: 5px 5px 0 0;
}

.upload-sidenav li:last-child:hover,
.upload-sidenav li:last-child.nav-item-active {
    border-radius: 0 0 5px 5px;
}

.upload-form-container,
.upload-form-container-darkbg {
    margin-right: 0;
    z-index: 5;
    box-shadow: 1px 1px 1px #1f1f1f;
    border-radius: 5px;
    height: 100%;
    padding: 0.5rem;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.95);
}

.upload-form-container-darkbg,
.upload-nav-mb-dark {
    background-color: rgba(255, 255, 255, 0.06);
}

.upload-form-container,
.upload-nav-mb,
.upload-sidenav {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.60);
}

.upload-nav-mb,
.upload-nav-mb-dark {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    box-shadow: 1px 1px 1px #1f1f1f;
}

.active-icon-color {
    color: #f2aa4cff;
}

.m-b-1 {
    margin-bottom: 1rem;
}
