<!-- Showing sidenav -->
<div class="full-body-container" [ngClass]="{'is-mobile': mq.matches}">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mq.matches ? 'over' : 'side'" [fixedInViewport]="mq.matches" [ngClass]="{'sidenav-container-20': mq.matches === false,
                                     'sidenav-container-75': mq.matches}" fixedTopGap="46px" [(opened)]="opened" autoFocus="false" class="sidenav-background-color">

            <!-- Sidenav contents -->
            <mat-nav-list>
                <h1 *ngIf="mq.matches" class="website-name">{{ title }}</h1>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'PROFILE'" (click)="performAction('profile')">School Profile</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                              'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'PERMISSIONS'" (click)="performAction('PERMISSIONS')" *ngIf="purchasedLicenseExists && userIsTeacher()">School Permissions</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                              'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'STUDENTS'" (click)="performAction('STUDENTS')" *ngIf="purchasedLicenseExists && userIsTeacher()">School Students</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'CLASSES'" (click)="performAction('CLASSES')" *ngIf="purchasedLicenseExists && userIsTeacher()">School Classes</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'LICENSE'" (click)="performAction('LICENSE')" *ngIf="userIsAdmin()">License</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'STUDENT-COURSES'" (click)="performAction('STUDENT-COURSES')" *ngIf="userIsStudent()">My Courses</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                'sidenav-content-more-padding': !mq.matches}" (click)="performAction('EXIT')">Exit</div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <section [ngClass]="{'toggle-icon-mobile': mq.matches, 'toggle-icon-desktop': !mq.matches}" (click)="snav.toggle()">
                <mat-icon *ngIf="opened === false" class="icon" aria-hidden="false" aria-label="Show navigaion pane icon">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="opened" class="icon" aria-hidden="false" aria-label="Hide navigaion Pane icon">
                    keyboard_arrow_left</mat-icon>
            </section>

            <!-- Navigation breadcrumb -->
            <div class="padding-main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" [ngClass]="{'clickable-link': true}"><a (click)="navigate('HOME')">Home</a></li>
                        <li class="breadcrumb-item clickable-link"><a (click)="performAction('INSTITUTES')">Institutes</a></li>
                        <li class="breadcrumb-item mouse-pointer active" [hidden]="activeLink !== 'PROFILE'">Profile</li>
                        <li class="breadcrumb-item mouse-pointer active" [hidden]="activeLink !== 'PERMISSIONS'" *ngIf="purchasedLicenseExists && userIsTeacher()">Permissions</li>
                        <li class="breadcrumb-item mouse-pointer active" [hidden]="activeLink !== 'STUDENTS'" *ngIf="purchasedLicenseExists && userIsTeacher()">Invite</li>
                        <li class="breadcrumb-item mouse-pointer active" [hidden]="activeLink !== 'CLASSES'" *ngIf="purchasedLicenseExists && userIsTeacher()">Classes</li>
                        <li class="breadcrumb-item mouse-pointer active" [hidden]="activeLink !== 'LICENSE'" *ngIf="userIsAdmin() && userIsTeacher()">License</li>
                        <li class="breadcrumb-item mouse-pointer active" [hidden]="activeLink !== 'STUDENT-COURSES'" *ngIf="userIsStudent()">Courses</li>
                    </ol>
                </nav>

                <!-- Router outlet for dynamic content -->
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>