.authButton {
    padding: 0px 10px;
    border: 0px;
    width: 10em;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: brown;
    display: block;
    margin: 0px auto;
}

#full-height{
    background-color: burlywood;
    width: 100%;
    height: 100%;
}