.profile-picture-dialogue {
    width: calc(100vw - 400px);
    height: 100%;
}

.profile-picture-dialogue-mobile {
    width: 100%;
}

:host ::ng-deep .mat-dialog-container {
    background-color: #e7e7e7;
}

.error {
    color: red;
}

:host ::ng-deep .mat-typography h2 {
    margin: 0 0 0px !important;
    color: #2c2c2c !important;
}

.top-divider {
    padding-bottom: 15px;
}

.bottom-divider {
    margin-top: 5px;
}


/* Styling profile picture editor */

.profile-picture-cropper {
    height: 250px;
    width: 100%;
}

.profile-picture-preview {
    height: 250px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

image-cropper {
    width: 100%;
    height: 100%;
    --cropper-overlay-color: rgb(31, 31, 31);
    --cropper-outline-color: rgba(255, 255, 255, 0.5)
}

.image-edit {
    padding: 10px 0px 0px 0px;
}

.p-b-30px {
    padding-bottom: 30px;
}

.p-t-5px {
    padding-top: 5px;
}
