<div class="center-retry-text">
    <div class="align-horizontally-center">
        <div class="d-flex justify-content-center">
            <h3 *ngIf="!mq.matches">{{ errorText }}</h3>
            <p *ngIf="mq.matches" class="margin-bottom-03">{{ errorText }}</p>
        </div>
        <div class="d-flex justify-content-center">
            <h3 *ngIf="!mq.matches">Please check your internet connectivity.</h3>
            <p *ngIf="mq.matches" class="margin-bottom-03">Please check your internet.</p>
        </div>
        <div class="d-flex justify-content-center">
            <h3 *ngIf="!mq.matches">If problem persists, let us know :)</h3>
            <p *ngIf="mq.matches" class="margin-bottom-03">If problem persists, let us know.</p>
        </div>
        <div class="d-flex justify-content-center">
            <button mat-flat-button class="green-button rounded-button" (click)="retry()">Retry</button>
        </div>
    </div>
</div>
