<mat-card>
    <h3>Other Course Members</h3>
    <hr class="top-separator m-b-1">
    <div class="m-b-1">
        <h3>Faculties: 1</h3>
        <div class="row">
            <div class="col-12 col-md-4" [ngClass]="{'m-b-1': mq.matches, 'p-r-1': !mq.matches}">
                <div class="student-container d-flex align-center justify-content-between">
                    <div class="d-flex align-center">
                        <img src="../../../assets/imgs/cd6.png" class="student-dp m-r-05" alt="">
                        <p>Swarnima Deb Purkyastha</p>
                    </div>
                    <mat-icon class="preview-icon m-l-05">visibility</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="m-b-1">
        <h3>Students: 99</h3>
        <div class="row">
            <div class="col-12 col-md-4" [ngClass]="{'m-b-1': mq.matches, 'p-r-1': !mq.matches}">
                <div class="student-container d-flex align-center justify-content-between">
                    <div class="d-flex">
                        <img src="../../../assets/imgs/cd6.png" class="student-dp m-r-05" alt="">
                        <div>
                            <p>Swarnima Deb Purkyastha</p>
                            <small>BC6126</small>
                        </div>
                    </div>
                    <mat-icon class="preview-icon m-l-05">visibility</mat-icon>
                </div>
            </div>
        </div>
    </div>
</mat-card>
