<form [formGroup]="editForm">
    <div class="row">
        <div class="col-12 m-b-1">
            <input type="text" formControlName="title" maxlength="30" class="form-control" placeholder="Title" aria-label="Title">
        </div>
        <div class="col-12 m-b-1" *ngIf="showTargetDate">
            <input class="form-control" formControlName="target_date" (click)="datepicker.open()" [matDatepicker]="datepicker" placeholder="Set Target Date (optional)">
            <div class="datepicker-icon">
                <mat-icon (click)="datepicker.open()" class="pick-date-icon">today</mat-icon>
                <mat-datepicker touchUi #datepicker></mat-datepicker>
            </div>
            <small class="text-color">Date format: YYYY-MM-DD</small>
        </div>
        <div class="col-12 m-b-1">
            <textarea type="text" formControlName="description" rows="5" maxlength="500" class="form-control" placeholder="Description (optional)" aria-label="Description"></textarea>
        </div>
        <div class="col-12 m-b-1" formGroupName="data" *ngIf="!notExternalLinkView()">
            <input type="text" formControlName="url" maxlength="256" class="form-control" placeholder="Paste Url" aria-label="Url">
        </div>
        <div class="col-12 m-b-1" formGroupName="data" *ngIf="notExternalLinkView()">
            <mat-slide-toggle formControlName="can_download">Can Download Content</mat-slide-toggle>
        </div>
        <div class="col-12 indicator m-b-1">
            <button mat-flat-button *ngIf="!showIndicator" [disabled]="editForm.invalid" class="green-button m-r-05" type="submit" (click)="submit()">Submit</button>
            <mat-progress-spinner class="m-r-05" *ngIf="showIndicator" mode="indeterminate" diameter="30"></mat-progress-spinner>
            <h3 *ngIf="!mq.matches && showIndicator">Submitting...</h3>
            <p *ngIf="mq.matches && showIndicator">Submitting...</p>
        </div>
    </div>
</form>
