<mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()" class="m-r-1" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Maths</span>
    <span class="spacer"></span>
    <mat-icon *ngIf="showCloseIcon" class="cursor-pointer" (click)="closePreviewClicked()">close</mat-icon>
</mat-toolbar>

<div class="full-body-container" [ngClass]="{'is-mobile': mq.matches}">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mq.matches ? 'over' : 'side'" [fixedInViewport]="mq.matches" [ngClass]="{'sidenav-container-20': mq.matches === false,
                                 'sidenav-container-75': mq.matches}" fixedTopGap="46px" [(opened)]="opened" autoFocus="false" class="sidenav-background-color">
            <mat-nav-list>
                <h1 *ngIf="mq.matches" class="website-name">{{ title }}</h1>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                   'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'COURSE_PREVIEW'" [class.m-t-05]="!mq.matches" (click)="navigate('COURSE_PREVIEW')">Course Preview</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                 'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'VIEW_PEERS'" (click)="navigate('VIEW_PEERS')">View Peers</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                 'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'JOIN_GROUPS'" (click)="navigate('JOIN_GROUPS')">Join Groups</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                 'sidenav-content-more-padding': !mq.matches}" [class.selected-nav-option]="activeLink === 'ANNOUNCEMENTS'" (click)="navigate('ANNOUNCEMENTS')">Announcements</div>
                <div [ngClass]="{'sidenav-content-less-padding': mq.matches,
                                 'sidenav-content-more-padding': !mq.matches}" (click)="navigate('EXIT_COURSE')">
                    <span *ngIf="!userIsTeacher()">Exit Course</span>
                    <span *ngIf="userIsTeacher()">Exit Preview</span>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="no-scrollbar">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>