<section class="body-container">
    <div class="text-center">
        <h1 class="expansion-panel-header-color">Test Name</h1>
        <h3 class="faded-blue-color m-b-1">Biology, Class 1</h3>
        <p class="m-b-1">Instructions: Sample instruction</p>
        <div class="d-flex justify-content-between align-center faded-blue-color">
            <p>10 minutes</p>
            <p>10 Marks</p>
        </div>
    </div>
    <hr class="separator m-t-05 m-b-1" />
    <div>
        <h3 class="faded-blue-color m-b-05">GRADED UNSCHEDULED TEST</h3>
        <table>
            <tr>
                <td>
                    <h3>Test Scheduled on:</h3>
                </td>
                <td>
                    <h3>14th January, 2020, 12:01 AM</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Shuffle Questions:</h3>
                </td>
                <td>
                    <h3>True</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Number of questions to attempt from optional questions (if any):</h3>
                </td>
                <td>
                    <h3>1</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Number of attempts of same test:</h3>
                </td>
                <td>
                    <h3>1</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Publish result automatically when test finishes:</h3>
                </td>
                <td>
                    <h3>False</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Peer - Peer checking of answers:</h3>
                </td>
                <td>
                    <h3>Not Enabled</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Allow question preview 10 minutes before:</h3>
                </td>
                <td>
                    <h3>False</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Test live:</h3>
                </td>
                <td>
                    <h3>False</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Result published:</h3>
                </td>
                <td>
                    <h3>False</h3>
                </td>
            </tr>
        </table>
    </div>
    <hr class="separator m-t-1 m-b-1" />
    <div class="d-flex align-center justify-content-end">
        <button mat-stroked-button class="stroked-button m-r-05">
          <mat-icon class="edit-icon m-r-05">edit</mat-icon>Edit
        </button>
        <button mat-stroked-button class="stroked-button">
          <mat-icon class="delete-icon m-r-05">delete</mat-icon>Delete
        </button>
    </div>
</section>
