h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}


/* Styling angular material tabs */

::ng-deep.mat-tab-label.mat-tab-label-active {
    color: #ffffff;
}

::ng-deep.mat-tab-label {
    color: #ffffff;
}

::ng-deep.mat-ink-bar {
    /* background-color: var(--primary-color,#1F89CE) !important; */
    background-color: var(--primary-color, #9b27b0) !important;
}

.tabgroup-background {
    background-color: #373737;
}

.tab-content {
    background-color: #303030;
}


/* For profile view  */


/* Styling profile picture row */

.img {
    object-fit: cover;
}

.mat-card-image {
    margin: 15px 0 !important;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.profile-pic-uploaded-banner {
    color: #b1b1b1;
    background-color: #2c2c2c;
    opacity: 0.7;
    width: calc(100% - 30px);
    font-size: 10px;
    font-style: italic;
    position: absolute;
    transform: translateY(-31px);
    text-align: center;
}

.name-username {
    color: #92979C;
}

.name-username-desktop {
    /* For desktop */
    padding-top: 10px;
}

.text-align-center-mobile {
    /*For mobile*/
    text-align: center;
}

.mat-display-1 {
    margin: 0px;
}

.margin-bottom-15 {
    margin-bottom: 10px;
}

.biodata,
.other-data {
    background-color: #424242;
    color: #b1b1b1;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}


/* For edit-profile view */

.float-right-spacer {
    flex: 1 1 auto;
}

.mat-toolbar-background {
    background-color: #212121;
    color: #b1b1b1;
}

.edit-button {
    background-color: #41ad0f;
    color: #ffffff;
    outline: none;
}

.edit-canvas {
    background-color: #3a3a3a;
    color: #c1c1c1;
    border-radius: 0 0 5px 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.edit-canvas>h4 {
    padding: 0 10px;
}

.profile-pic-edit-banner {
    color: #b1b1b1;
    background-color: #2c2c2c;
    opacity: 0.7;
    width: calc(100% - 30px);
    position: absolute;
    transform: translateY(-60px);
    text-align: right;
    padding: 10px;
}

.edit-picture-icon {
    cursor: pointer;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-15-mobile {
    padding-top: 15px;
}

.edit-profile-picture-card {
    margin-bottom: 15px;
    background-color: #212121;
    padding: 4px 2px 4px 2px;
}

.mat-list-item {
    color: #b1b1b1;
    cursor: pointer;
}

.mat-list-item:not(:last-child) {
    border-bottom: 1px solid #161616;
}

.mat-list-item:hover {
    background-color: #373737;
}

.mat-list-base {
    padding-top: 0px;
}


/* Styling edit profile form */

.mat-form-field {
    padding: 0 10px;
    width: 100%;
}

::ng-deep.mat-form-field-label {
    /*change color of label*/
    color: #fcf835 !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #7a7a7a !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
    ;
}

.options {
    background-color: #212121;
    color: #7a7a7a;
}

.mat-datepicker-toggle {
    color: white !important;
}

.margin-right-bottom-10 {
    margin: 0 10px 10px 0;
}

.submit {
    background-color: #ff0000;
    color: #ffffff;
}

.reset {
    background-color: #008000;
    color: #ffffff;
}

.hint-normal {
    color: #7a7a7a;
}

.hint-error {
    color: #ff0000;
}