.row,
.col-12,
h3,
p {
    margin: 0;
    padding: 0;
}

.highlight-icon {
    color: rgb(148, 252, 134);
    cursor: pointer;
    padding-top: 0.2rem;
}

.coupon-success-text {
    padding-top: 0.1rem;
}

.success-content {
    padding: 0.2rem 0.5rem;
    align-items: center;
}