h1,
h3,
p,
hr,
.row,
.col-5,
.col-7,
.col-12,
.col-sm-4,
.col-sm-8 {
    margin: 0;
    padding: 0;
}

.parent-container {
    padding: 1rem;
    border-radius: 3px;
}

.custom-card {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 3px;
    box-shadow: 1px 1px 1px #1f1f1f;
    padding: 1rem;
    height: 100%;
}

.green-button:disabled {
    color: #bdbdbd;
    background-color: rgba(10, 86, 82, 0.4);
}

.green-button:active {
    outline: none;
}

.success-text {
    padding: 0.2rem 0.7rem;
    margin-top: 0.5rem;
}

.m-t-05 {
    margin-top: 0.5rem;
}

.m-t-1 {
    margin-top: 1rem;
}

.m-r-05 {
    margin-right: 0.5rem;
}

.m-b-07 {
    margin-bottom: 0.7rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-l-05 {
    margin-left: 0.5rem;
}

.m-l-1 {
    margin-left: 1rem;
}