/* Styling navbar */
#nav-background {
    background-color: #6A5ACD;
}

.navbar-brand {
    color: rgb(255, 255, 255);
}

.nav-link {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.is-active {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0px 8px 6px -6px #999;
}