<section fxLayout="row">
    <button mat-button color="primary"
                       [routerLink]="['/signup']"
                       routerLinkActive="true"
                       *ngIf="showLoginSignupButton">Sign up</button>
    <button mat-button color="primary"
                       [routerLink]="['/login']"
                       routerLinkActive="true"
                       *ngIf="showLoginSignupButton">Login</button>
    <button mat-button color="primary"
                       (click)="logout()"
                       *ngIf="showLogoutButton">Logout</button>
</section>

<router-outlet></router-outlet>
